a{
	text-decoration:none;
}
.e910_225 { 
	overflow:hidden;
}
.e910_225 { 
	width:100vw;
	height:1515px;
	position:relative;
	
}
.e16_4428 { 
	width:487px;
	height:536px;
	position:relative;
	left:1132px;
	top:318px;
}
.e16_4425 { 
	width:487px;
	height:536px;
	position:absolute;
	left:-50px;
	top:0px;
	background-image:url(../images/044.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e16_519 { 
	background-color:rgba(129.00000751018524, 106.00000128149986, 254.00000005960464, 1);
	width:639px;
	height:434px;
	position:absolute;
	left:813px;
	top:710px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e16_64 { 
	color:rgba(34.00000177323818, 34.00000177323818, 34.00000177323818, 1);
	width:919px;
	height:72px;
	position:absolute;
	left:452px;
	top:327px;
	font-family:Noto Sans;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
.e16_4394 { 
	width:1252px;
	height:93px;
	position:absolute;
	left:285px;
	top:166px;
}
.e16_7 { 
	background-color:rgba(129.00000751018524, 106.00000128149986, 254.00000005960464, 1);
	width:190px;
	height:90px;
	position:absolute;
	left:426px;
	top:3px;
}
.e16_4396 { 
	background-color:rgba(252.00000017881393, 233.00000131130219, 109.00000110268593, 1);
	width:226px;
	height:87px;
	position:absolute;
	left:940px;
	top:6px;
}
.e16_158 { 
	color:rgba(34.00000177323818, 34.00000177323818, 34.00000177323818, 1);
	width:1252px;
	height:75px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Noto Sans;
	text-align:center;
	font-size:64px;
	letter-spacing:0;
}
.e16_538 { 
	width:15px;
	height:13px;
	position:absolute;
	left:1101px;
	top:875px;
}
.e16_539 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:0.4000000059604645;
	width:15px;
	height:13px;
	position:absolute;
	left:0px;
	top:0px;
}
.e16_540 { 
	color:rgba(255, 255, 255, 1);
	width:131px;
	height:20px;
	position:absolute;
	left:1128px;
	top:872px;
	font-family:DM Sans;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}
.e16_542 { 
	width:15px;
	height:13px;
	position:absolute;
	left:1101px;
	top:915px;
}
.e16_543 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:0.4000000059604645;
	width:15px;
	height:13px;
	position:absolute;
	left:0px;
	top:0px;
}
.e16_544 { 
	color:rgba(255, 255, 255, 1);
	width:68px;
	height:20px;
	position:absolute;
	left:1128px;
	top:912px;
	font-family:DM Sans;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}
.e16_546 { 
	width:15px;
	height:13px;
	position:absolute;
	left:1101px;
	top:955px;
}
.e16_547 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:0.4000000059604645;
	width:15px;
	height:13px;
	position:absolute;
	left:0px;
	top:0px;
}
.e16_548 { 
	color:rgba(255, 255, 255, 1);
	width:105px;
	height:20px;
	position:absolute;
	left:1128px;
	top:952px;
	font-family:DM Sans;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}
.e16_4430 { 
	width:496px;
	height:496px;
	position:absolute;
	left:0px;
	top:1019px;
}
.e16_4431 { 
	background-color:rgba(252.00000017881393, 233.00000131130219, 109.00000110268593, 1);
	width:42.20167922973633px;
	height:21.81972885131836px;
	position:absolute;
	left:262.0672302246094px;
	top:163.71067810058594px;
}
.e16_4431 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e16_4429 { 
	background-color:rgba(252.00000017881393, 233.00000131130219, 109.00000110268593, 1);
	width:42.20167922973633px;
	height:21.568727493286133px;
	position:absolute;
	left:206.31932067871094px;
	top:164.25502014160156px;
}
.e16_4429 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e16_4426 { 
	width:496px;
	height:496px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(../images/01.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e16_494 { 
	color:rgba(34.00000177323818, 34.00000177323818, 34.00000177323818, 1);
	width:374px;
	height:49px;
	position:absolute;
	left:371px;
	top:639px;
	font-family:Noto Sans;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
.e16_497 { 
	background-color:rgba(255, 255, 255, 1);
	width:417px;
	height:434px;
	position:absolute;
	left:359px;
	top:708px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e16_497 { 
	border:4px solid rgba(129.00000751018524, 106.00000128149986, 254.00000005960464, 1);
}
.e16_501 { 
	color:rgba(0, 0, 0, 1);
	width:332px;
	height:54px;
	position:absolute;
	left:407px;
	top:746px;
	font-family:Noto Sans;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.e16_502 { 
	color:rgba(191.23287051916122, 191.25, 191.21855288743973, 1);
	width:107px;
	height:20px;
	position:absolute;
	left:411px;
	top:808px;
	font-family:Noto Sans;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}
.e16_504 { 
	width:15px;
	height:13px;
	position:absolute;
	left:411px;
	top:871px;
}
.e16_505 { 
	background-color:rgba(103.0000014603138, 89.00000229477882, 246.0000005364418, 1);
	width:15px;
	height:13px;
	position:absolute;
	left:0px;
	top:0px;
}
.e16_506 { 
	color:rgba(0, 0, 0, 1);
	width:86px;
	height:20px;
	position:absolute;
	left:438px;
	top:868px;
	font-family:Noto Sans;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}
.e16_508 { 
	width:15px;
	height:13px;
	position:absolute;
	left:411px;
	top:911px;
}
.e16_509 { 
	background-color:rgba(103.0000014603138, 89.00000229477882, 246.0000005364418, 1);
	width:15px;
	height:13px;
	position:absolute;
	left:0px;
	top:0px;
}
.e16_510 { 
	color:rgba(0, 0, 0, 1);
	width:86px;
	height:20px;
	position:absolute;
	left:438px;
	top:908px;
	font-family:Noto Sans;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}
.e16_512 { 
	width:15px;
	height:13px;
	position:absolute;
	left:411px;
	top:951px;
}
.e16_513 { 
	background-color:rgba(103.0000014603138, 89.00000229477882, 246.0000005364418, 1);
	width:15px;
	height:13px;
	position:absolute;
	left:0px;
	top:0px;
}
.e16_514 { 
	color:rgba(0, 0, 0, 1);
	width:86px;
	height:20px;
	position:absolute;
	left:438px;
	top:948px;
	font-family:Noto Sans;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}
.e16_516 { 
	color:rgba(34.00000177323818, 34.00000177323818, 34.00000177323818, 1);
	width:319px;
	height:49px;
	position:absolute;
	left:812px;
	top:643px;
	font-family:Noto Sans;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
.e16_523 { 
	color:rgba(255, 255, 255, 1);
	width:125px;
	height:54px;
	position:absolute;
	left:852px;
	top:750px;
	font-family:Noto Sans;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.e16_524 { 
	color:rgba(142.00000673532486, 252.00000017881393, 186.0000041127205, 1);
	width:219px;
	height:20px;
	position:absolute;
	left:852px;
	top:812px;
	font-family:Noto Sans;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}
.e16_4644 { 
	color:rgba(252.00000017881393, 233.00000131130219, 109.00000110268593, 1);
	width:244px;
	height:20px;
	position:absolute;
	left:1011px;
	top:1066px;
	font-family:Noto Sans;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}
.e16_526 { 
	width:15px;
	height:13px;
	position:absolute;
	left:852px;
	top:875px;
}
.e16_527 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:0.4000000059604645;
	width:15px;
	height:13px;
	position:absolute;
	left:0px;
	top:0px;
}
.e16_528 { 
	color:rgba(255, 255, 255, 1);
	width:105px;
	height:20px;
	position:absolute;
	left:879px;
	top:872px;
	font-family:Noto Sans;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}
.e16_530 { 
	width:15px;
	height:13px;
	position:absolute;
	left:852px;
	top:915px;
}
.e16_531 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:0.4000000059604645;
	width:15px;
	height:13px;
	position:absolute;
	left:0px;
	top:0px;
}
.e16_532 { 
	color:rgba(255, 255, 255, 1);
	width:105px;
	height:20px;
	position:absolute;
	left:879px;
	top:912px;
	font-family:Noto Sans;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}
.e16_534 { 
	width:15px;
	height:13px;
	position:absolute;
	left:852px;
	top:955px;
}
.e16_535 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:0.4000000059604645;
	width:15px;
	height:13px;
	position:absolute;
	left:0px;
	top:0px;
}
.e16_536 { 
	color:rgba(255, 255, 255, 1);
	width:117px;
	height:20px;
	position:absolute;
	left:879px;
	top:952px;
	font-family:DM Sans;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}
.e16_4417 { 
	border:2px solid rgba(129.00000751018524, 106.00000128149986, 254.00000005960464, 1);
}
.e16_4417 { 
	width:255px;
	height:56px;
	position:absolute;
	left:446px;
	top:1048px;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
}
.e16_4418 { 
	width:255px;
	height:56px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}
.e16_4419 { 
	color:rgba(129.00000751018524, 106.00000128149986, 254.00000005960464, 1);
	width:255px;
	height:25px;
	position:absolute;
	left:0px;
	top:16px;
	font-family:Noto Sans;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
.e16_4420 { 
	border:2px solid rgba(255, 255, 255, 1);
}
.e16_4420 { 
	width:145px;
	height:56px;
	position:absolute;
	left:852px;
	top:1048px;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
}
.e16_4421 { 
	width:255px;
	height:56px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}
.e16_4422 { 
	color:rgba(255, 255, 255, 1);
	width:145px;
	height:25px;
	position:absolute;
	left:0px;
	top:16px;
	font-family:Noto Sans;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
.e16_33 { 
	border:2px solid rgba(129.00000751018524, 106.00000128149986, 254.00000005960464, 1);
}
.e16_33 { 
	width:255px;
	height:56px;
	position:absolute;
	left:784px;
	top:439px;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
}
.e16_34 { 
	width:255px;
	height:56px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}
.e16_35 { 
	color:rgba(129.00000751018524, 106.00000128149986, 254.00000005960464, 1);
	width:255px;
	height:25px;
	position:absolute;
	left:0px;
	top:16px;
	font-family:Noto Sans;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
.e705_396 { 
	border:2px solid rgba(129.00000751018524, 106.00000128149986, 254.00000005960464, 1);
}
.e705_396 { 
	width:255px;
	height:56px;
	position:absolute;
	left:783px;
	top:523px;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
}
.e705_397 { 
	width:255px;
	height:56px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}
.e705_398 { 
	color:rgba(129.00000751018524, 106.00000128149986, 254.00000005960464, 1);
	width:255px;
	height:25px;
	position:absolute;
	left:0px;
	top:16px;
	font-family:Noto Sans;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
.e703_353 { 
	width:510px;
	height:230px;
	position:absolute;
	left:210px;
	top:-10px;
	background-image:url(../images/image_6.png);
	background-repeat:no-repeat;
	background-size:cover;
}
