.body{
    background: #E5E5E5;
	text-align: center;
}

/* Body */
.e924_629 { 
	overflow:hidden;
	position:relative;
}
.e924_629 { 
	width:1292px;
	height:702px;
	position:absolute;
}
.e923_611 { 
	color:rgba(55.00000052154064, 134.00000721216202, 202.00000315904617, 1);
	width:131px;
	height:30px;
	position:absolute;
	left:35px;
	top:137px;
	font-family:Noto Sans;
	text-align:center;
	font-size:26px;
	letter-spacing:0;
}
.e923_613 { 
	color:rgba(55.00000052154064, 134.00000721216202, 202.00000315904617, 1);
	width:131px;
	height:30px;
	position:absolute;
	left:24px;
	top:240px;
	font-family:Noto Sans;
	text-align:center;
	font-size:26px;
	letter-spacing:0;
}
.e923_612 { 
	color:rgba(0, 0, 0, 1);
	width:144px;
	height:19px;
	position:absolute;
	left:37px;
	top:176px;
	font-family:Noto Sans;
	text-align:center;
	font-size:26px;
	letter-spacing:0;
}
.e923_620 { 
	color:rgba(150.9446507692337, 150.97074776887894, 150.9412157535553, 1);
	width:153px;
	height:28px;
	position:absolute;
	left:33px;
	top:527px;
	font-family:Noto Sans;
	text-align:center;
	font-size:26px;
	letter-spacing:0;
}
.e923_609 { 
	color:rgba(0, 0, 0, 1);
	width:726px;
	height:61px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Noto Sans;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}
.e923_610 { 
	color:rgba(0, 0, 0, 1);
	width:348px;
	height:41px;
	position:absolute;
	left:20px;
	top:51px;
	font-family:Noto Sans;
	text-align:center;
	font-size:26px;
	letter-spacing:0;
}
.e923_615 { 
	color:rgba(55.00000052154064, 134.00000721216202, 202.00000315904617, 1);
	width:270px;
	height:30px;
	position:absolute;
	left:27px;
	top:334px;
	font-family:Noto Sans;
	text-align:center;
	font-size:26px;
	letter-spacing:0;
}
.e923_618 { 
	color:rgba(55.00000052154064, 134.00000721216202, 202.00000315904617, 1);
	width:473px;
	height:30px;
	position:absolute;
	left:31px;
	top:457px;
	font-family:Noto Sans;
	text-align:center;
	font-size:26px;
	letter-spacing:0;
}
.e923_621 { 
	color:rgba(55.00000052154064, 134.00000721216202, 202.00000315904617, 1);
	width:332px;
	height:30px;
	position:absolute;
	left:40px;
	top:611px;
	font-family:Noto Sans;
	text-align:center;
	font-size:26px;
	letter-spacing:0;
}
.e923_623 { 
	color:rgba(55.00000052154064, 134.00000721216202, 202.00000315904617, 1);
	width:332px;
	height:30px;
	position:absolute;
	left:45px;
	top:672px;
	font-family:Noto Sans;
	text-align:center;
	font-size:26px;
	letter-spacing:0;
}
.e923_622 { 
	color:rgba(101.00000157952309, 188.0000039935112, 131.00000739097595, 1);
	width:104px;
	height:30px;
	position:absolute;
	left:404px;
	top:611px;
	font-family:Noto Sans;
	text-align:center;
	font-size:26px;
	letter-spacing:0;
}
.e923_624 { 
	color:rgba(101.00000157952309, 188.0000039935112, 131.00000739097595, 1);
	width:75px;
	height:30px;
	position:absolute;
	left:399px;
	top:672px;
	font-family:Noto Sans;
	text-align:center;
	font-size:26px;
	letter-spacing:0;
}
.e923_614 { 
	color:rgba(0, 0, 0, 1);
	width:318px;
	height:19px;
	position:absolute;
	left:27px;
	top:279px;
	font-family:Noto Sans;
	text-align:center;
	font-size:26px;
	letter-spacing:0;
}
.e923_617 { 
	color:rgba(0, 0, 0, 1);
	width:231px;
	height:19px;
	position:absolute;
	left:23px;
	top:374px;
	font-family:Noto Sans;
	text-align:center;
	font-size:26px;
	letter-spacing:0;
}
.e923_619 { 
	border:16px solid rgba(132.0000073313713, 170.0000050663948, 255, 1);
}
.e923_619 { 
	width:540px;
	height:0px;
	position:absolute;
	left:46px;
	top:521px;
}
.e923_625 { 
	background-color:rgba(26.000000350177288, 74.0000031888485, 110.00000104308128, 1);
	width:611px;
	height:529px;
	position:absolute;
	left:681px;
	top:137px;
}
.e923_626 { 
	background-color:rgba(240.00000089406967, 240.00000089406967, 240.00000089406967, 1);
	width:513px;
	height:394px;
	position:absolute;
	left:730px;
	top:205px;
}
.e923_627 { 
	color:rgba(0, 0, 0, 1);
	width:494px;
	height:389px;
	position:absolute;
	left:737px;
	top:210px;
	text-align:center;
	font-size:Symbol(figma.mixed)px;
	letter-spacing:0;
}
