
.e811_213 { 
	overflow:hidden;
}
.e811_213 { 
	width:100vw;
	height:98.5vh;
	
}
.e2_757 { 
	background-color:rgba(129.00000751018524, 106.00000128149986, 254.00000005960464, 1);
	width:100vw;
	height:100vh;
	position:absolute;
	left:0px;
	top:0px;
}
.e702_323 { 
	width:510px;
	height:230px;
	position:absolute;
	left:46px;
	top:65px;
	background-image:url(../images/image_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e702_327 { 
	width:623px;
	height:432px;
	position:absolute;
	left:730px;
	top:183px;
	background-image:url(../images/image_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e702_329 { 
	color:rgba(255, 255, 255, 1);
	width:554px;
	height:52px;
	position:absolute;
	left:64px;
	top:267px;
	font-family:Noto Sans;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
	line-height:px;
}
.e702_330 { 
	color:rgba(142.00000673532486, 252.00000017881393, 186.0000041127205, 1);
	width:554px;
	height:52px;
	position:absolute;
	left:68px;
	top:328px;
	font-family:Noto Sans;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
	line-height:px;
	font-family: Noto Sans;
	font-size: 40px;
	font-style: normal;
	font-weight: 800;
	line-height: 52px;
	letter-spacing: 0px;
	text-align: left;

}
.e702_331 { 
	box-shadow:4px 4px 28px rgba(0, 0, 0, 0.15000000596046448);
	width:255px;
	height:56px;
	position:absolute;
	left:81px;
	top:444px;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
}
.e702_332 { 
	background-color:rgba(255, 255, 255, 1);
	width:255px;
	height:56px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}
.e702_333 { 
	color:rgba(129.00000751018524, 106.00000128149986, 254.00000005960464, 1);
	width:255px;
	height:25px;
	position:absolute;
	left:0px;
	top:17px;
	font-family:Noto Sans;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
.e2_695 { 
	width:271px;
	height:25px;
	position:absolute;
	left:578px;
	top:40px;
}
.e2_696 { 
	color:rgba(142.00000673532486, 252.00000017881393, 186.0000041127205, 1);
	width:51px;
	height:25px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Noto Sans;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e2_697 { 
	color:rgba(255, 255, 255, 1);
	width:57px;
	height:25px;
	position:absolute;
	left:107px;
	top:0px;
	font-family:Noto Sans;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e2_698 { 
	color:rgba(255, 255, 255, 1);
	width:51px;
	height:25px;
	position:absolute;
	left:220px;
	top:0px;
	font-family:Noto Sans;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e7_44 { 
	width:200px;
	height:32px;
	position:absolute;
	left:1058px;
	top:36px;
}
.e2_699 { 
	width:74px;
	height:32px;
	position:absolute;
	left:0px;
	top:0px;
}
.e2_700 { 
	background-color:rgba(255, 255, 255, 1);
	width:74px;
	height:32px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}
.e2_701 { 
	color:rgba(129.00000751018524, 106.00000128149986, 254.00000005960464, 1);
	width:59px;
	height:19px;
	position:absolute;
	left:9px;
	top:6px;
	font-family:Noto Sans;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e7_41 { 
	color:rgba(255, 255, 255, 1);
	width:94px;
	height:19px;
	position:absolute;
	left:106px;
	top:5px;
	font-family:Noto Sans;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e2_705 { 
	width:12px;
	height:12px;
	position:absolute;
	left:1295px;
	top:45.98095703125px;
}
.e2_707 { 
	width:12px;
	height:12px;
	position:absolute;
	left:0px;
	top:0px;
}
.e2_708 { 
	width:12px;
	height:12px;
	position:absolute;
	left:0px;
	top:0px;
}
.e2_709 { 
	background-color:rgba(255, 255, 255, 1);
	width:8px;
	height:6px;
	position:absolute;
	left:2px;
	top:3px;
}
