.busqueda{
    background-color:rgb(226, 116, 52);
    position: static;
}

.e2_7571 { 
	background-color:rgba(129.00000751018524, 106.00000128149986, 254.00000005960464, 1);
	width:100vw;
	height:7vh;
	position: absolute;
	left:0px;
	top:0px;
}

.e811_2131 { 
	overflow:hidden;
}
.e811_2131 { 
    width: 100vw;
    height: 28.5vh;
    position: relative;
}

.ver-todas{
    display: flex;
    justify-content: flex-end;
    width: 1852px;
}
.boton{
    color: white;
    font-weight: 700;
    text-decoration: none;
    font-size: 1rem;
    padding: 1rem 3rem;
    margin-top: 1rem;
    display: inline-block;
    text-align: center;
    border: none;
    display: block;
    flex: 0 0 100%;
    border-radius: 27px;
}

@media(min-width: 768px){
    .boton{
        display: inline-block;
        flex: 0 0 auto;
    }
}

.boton:hover{
    cursor: pointer;
}

.boton-verde{
    background-color: rgba(129.00000751018524, 106.00000128149986, 254.00000005960464, 1);;
}

.hash p{
    text-align: center;
    width: 100%;
}
.e702_3231 { 
   
	width:510px;
	height:230px;
	position:absolute;
	left:46px;
	top:77px;
	background-image:url(../images/image_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}

.frase { 
    background-color:#ffff;
    font-size: 2.2rem;
	width: 535px;
	height: 80px;
	position:absolute;
	left: 975px;
	top: 215px;
    padding-top: 29px;
}

.barra {
    height: 25px;
    margin-top: 30px;
    margin-right: 170px;
    width: 492px;
    border-radius: 17px;
    text-align: center;
}

.cambio{
    background-color: rgba(129.00000751018524, 106.00000128149986, 254.00000005960464, 1);
    color: rgba(142.00000673532486, 252.00000017881393, 186.0000041127205, 1);
    padding-left: 0px;
    position: absolute;
    width: 190px;
    top: 29px;
    left: 329px;
    padding-left: 10px;
}
.e705_380 { 
	width:255px;
	height:56px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}
.e705_381 { 
	color:rgba(129.00000751018524, 106.00000128149986, 254.00000005960464, 1);
	width:255px;
	height:25px;
	position:absolute;
	left:0px;
	top:16px;
	font-family:Noto Sans;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
 /*Mas*/

.e914_390 { 
	overflow:hidden;
}
.e914_390 { 
	width:100%;
	height:1976px;
	position:relative;
}
.e914_391 { 
	width:635px;
	height:635px;
	position:absolute;
	left:0px;
	top:175px;
}
.e914_392 { 
	background-color:rgba(252.00000017881393, 233.00000131130219, 109.00000110268593, 1);
	width:84.15647888183594px;
	height:94.3295669555664px;
	position:absolute;
	left:428px;
	top:482.4599609375px;
}
.e914_392 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e914_393 { 
	width:635px;
	height:635px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(../images/02.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e914_394 { 
	width:1496px;
	height:180px;
	position:absolute;
	left:517px;
	top:274px;
}
.e914_395 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:280px;
	height:180px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:16px;
	border-top-right-radius:16px;
	border-bottom-left-radius:16px;
	border-bottom-right-radius:16px;
	background-image:url(../images/rectangle_262.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e914_396 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:280px;
	height:180px;
	position:absolute;
	left:304px;
	top:0px;
	border-top-left-radius:16px;
	border-top-right-radius:16px;
	border-bottom-left-radius:16px;
	border-bottom-right-radius:16px;
	background-image:url(../images/rectangle_263.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e914_397 { 
	background-image:url(../images/rectangle_264.png);
	width:280px;
	height:180px;
	position:absolute;
	left:608px;
	top:0px;
	border-top-left-radius:16px;
	border-top-right-radius:16px;
	border-bottom-left-radius:16px;
	border-bottom-right-radius:16px;
	background-repeat:no-repeat;
	background-size:cover;
}
.e914_398 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:280px;
	height:180px;
	position:absolute;
	left:912px;
	top:0px;
	border-top-left-radius:16px;
	border-top-right-radius:16px;
	border-bottom-left-radius:16px;
	border-bottom-right-radius:16px;
	background-image:url(../images/rectangle_265.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e914_399 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:280px;
	height:180px;
	position:absolute;
	left:1216px;
	top:0px;
	border-top-left-radius:16px;
	border-top-right-radius:16px;
	border-bottom-left-radius:16px;
	border-bottom-right-radius:16px;
	background-image:url(../images/rectangle_266.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e914_400 { 
	color:rgba(255, 255, 255, 1);
	width:106px;
	height:19px;
	position:absolute;
	left:1154px;
	top:405px;
	font-family:Noto Sans;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e914_401 { 
	color:rgba(255, 255, 255, 1);
	width:93px;
	height:19px;
	position:absolute;
	left:1154px;
	top:426px;
	font-family:Noto Sans;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e914_402 { 
	width:888px;
	height:180px;
	position:absolute;
	left:517px;
	top:632px;
}
.e914_403 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:280px;
	height:180px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:16px;
	border-top-right-radius:16px;
	border-bottom-left-radius:16px;
	border-bottom-right-radius:16px;
	background-image:url(../images/rectangle_262.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e914_404 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:280px;
	height:180px;
	position:absolute;
	left:304px;
	top:0px;
	border-top-left-radius:16px;
	border-top-right-radius:16px;
	border-bottom-left-radius:16px;
	border-bottom-right-radius:16px;
	background-image:url(../images/rectangle_263.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e914_405 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:280px;
	height:180px;
	position:absolute;
	left:608px;
	top:0px;
	border-top-left-radius:16px;
	border-top-right-radius:16px;
	border-bottom-left-radius:16px;
	border-bottom-right-radius:16px;
	background-image:url(../images/rectangle_264.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e914_406 { 
	width:1192px;
	height:180px;
	position:absolute;
	left:307px;
	top:984px;
}
.e914_407 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:280px;
	height:180px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:16px;
	border-top-right-radius:16px;
	border-bottom-left-radius:16px;
	border-bottom-right-radius:16px;
	background-image:url(../images/rectangle_262.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e914_408 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:280px;
	height:180px;
	position:absolute;
	left:304px;
	top:0px;
	border-top-left-radius:16px;
	border-top-right-radius:16px;
	border-bottom-left-radius:16px;
	border-bottom-right-radius:16px;
	background-image:url(../images/rectangle_263.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e914_409 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:280px;
	height:180px;
	position:absolute;
	left:608px;
	top:0px;
	border-top-left-radius:16px;
	border-top-right-radius:16px;
	border-bottom-left-radius:16px;
	border-bottom-right-radius:16px;
	background-image:url(../images/rectangle_264.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e914_410 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:280px;
	height:180px;
	position:absolute;
	left:912px;
	top:0px;
	border-top-left-radius:16px;
	border-top-right-radius:16px;
	border-bottom-left-radius:16px;
	border-bottom-right-radius:16px;
	background-image:url(../images/rectangle_265.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e914_411 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:280px;
	height:180px;
	position:absolute;
	left:1439px;
	top:629px;
	border-top-left-radius:16px;
	border-top-right-radius:16px;
	border-bottom-left-radius:16px;
	border-bottom-right-radius:16px;
	background-image:url(../images/rectangle_280.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e914_412 { 
	color:rgba(0, 0, 0, 1);
	width:322px;
	height:40px;
	position:absolute;
	left:522px;
	top:210px;
	font-family:Noto Sans;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e914_413 { 
	color:rgba(0, 0, 0, 1);
	width:240px;
	height:40px;
	position:absolute;
	left:522px;
	top:568px;
	font-family:Noto Sans;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e914_414 { 
	color:rgba(0, 0, 0, 1);
	width:240px;
	height:40px;
	position:absolute;
	left:522px;
	top:924px;
	font-family:Noto Sans;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e914_415 { 
	width:51px;
	height:51px;
	position:absolute;
	left:1259px;
	top:333px;
}
.e914_416 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	opacity:0.800000011920929;
	width:51px;
	height:51px;
	position:absolute;
	left:0px;
	top:0px;
}
.e914_417 { 
	transform: rotate(90.00000250447808deg);
	background-color:rgba(129.00000751018524, 106.00000128149986, 254.00000005960464, 1);
	width:23px;
	height:23px;
	position:absolute;
	left:37px;
	top:14px;
	border-radius:2px;
}
.e914_418 { 
	border-radius:500px;
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:114px;
	height:114px;
	position:absolute;
	left:517px;
	top:68px;
	background-image:url(../images/ellipse_229.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e914_418 { 
	border:8px solid rgba(255, 255, 255, 1);
}
.e914_419 { 
	border-radius:500px;
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:114px;
	height:114px;
	position:absolute;
	left:687px;
	top:68px;
	background-image:url(../images/ellipse_230.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e914_419 { 
	border:8px solid rgba(255, 255, 255, 1);
}
.e914_420 { 
	border-radius:500px;
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:114px;
	height:114px;
	position:absolute;
	left:857px;
	top:68px;
	background-image:url(../images/ellipse_231.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e914_420 { 
	border:8px solid rgba(255, 255, 255, 1);
}
.e914_421 { 
	border-radius:500px;
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:114px;
	height:114px;
	position:absolute;
	left:1027px;
	top:68px;
	background-image:url(../images/ellipse_232.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e914_421 { 
	border:8px solid rgba(255, 255, 255, 1);
}
.e914_422 { 
	border-radius:500px;
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:114px;
	height:114px;
	position:absolute;
	left:1197px;
	top:68px;
	background-image:url(../images/ellipse_233.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e914_422 { 
	border:8px solid rgba(255, 255, 255, 1);
}
.e914_423 { 
	border-radius:500px;
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:114px;
	height:114px;
	position:absolute;
	left:1367px;
	top:68px;
	background-image:url(../images/ellipse_234.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e914_423 { 
	border:8px solid rgba(255, 255, 255, 1);
}
.e914_424 { 
	border-radius:500px;
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:114px;
	height:114px;
	position:absolute;
	left:1537px;
	top:68px;
	background-image:url(../images/ellipse_235.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e914_424 { 
	border:8px solid rgba(255, 255, 255, 1);
}
.e914_425 { 
	border-radius:500px;
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:114px;
	height:114px;
	position:absolute;
	left:1707px;
	top:68px;
	background-image:url(../images/ellipse_236.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e914_425 { 
	border:8px solid rgba(255, 255, 255, 1);
}
.e914_426 { 
	width:1090px;
	height:1006px;
	position:absolute;
	left:1193px;
	top:970px;
	background-image:url(../images/07.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e914_427 { 
	transform: rotate(7.0167217375642474e-15deg);
	width:1422px;
	height:1315px;
	position:absolute;
	left:353px;
	top:3px;
}
.ei914_427_62_178 { 
	background-image:linear-gradient(0deg, rgba(255, 255, 255, 1) 0%,rgba(255, 255, 255, 0) 100%) ;
	width:1422px;
	height:1315px;
	position:absolute;
	left:0px;
	top:0px;
}
.e914_428 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:280px;
	height:180px;
	position:absolute;
	left:1525px;
	top:980px;
	border-top-left-radius:16px;
	border-top-right-radius:16px;
	border-bottom-left-radius:16px;
	border-bottom-right-radius:16px;
	background-image:url(../images/rectangle_279.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e914_429 { 
	transform: rotate(180deg);
	width:1422px;
	height:1315px;
	position:absolute;
	left:1780px;
	top:1318px;
}
.ei914_429_62_178 { 
	background-image:linear-gradient(0deg, rgba(255, 255, 255, 1) 0%,rgba(255, 255, 255, 0) 100%) ;
	width:1422px;
	height:1315px;
	position:absolute;
	left:0px;
	top:0px;
}
.e914_430 { 
	transform: rotate(180deg);
	width:601.0000610351562px;
	height:1315.0001220703125px;
	position:absolute;
	left:1368px;
	top:1315px;
}
.ei914_430_62_178 { 
	background-image:linear-gradient(0deg, rgba(255, 255, 255, 1) 0%,rgba(255, 255, 255, 0) 100%) ;
	width:601.0000610351562px;
	height:1315.0001220703125px;
	position:absolute;
	left:0px;
	top:0px;
}
.e914_431 { 
	transform: rotate(179.99999499104388deg);
	width:196px;
	height:181px;
	position:absolute;
	left:554px;
	top:1165px;
}
.ei914_431_62_178 { 
	background-image:linear-gradient(0deg, rgba(255, 255, 255, 1) 0%,rgba(255, 255, 255, 0) 100%) ;
	width:196px;
	height:181px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei914_431_134_485 { 
	width:60px;
	height:60px;
	position:absolute;
	left:104px;
	top:60px;
}
.ei914_431_134_483 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:60px;
	height:60px;
	position:absolute;
	left:0px;
	top:0px;
}
.i914_431_134_483 { 
	border:1px solid rgba(129.00000751018524, 106.00000128149986, 254.00000005960464, 1);
}
.ei914_431_134_486 { 
	transform: rotate(90.00000250447808deg);
	background-color:rgba(129.00000751018524, 106.00000128149986, 254.00000005960464, 1);
	width:24.994152069091797px;
	height:21.64556884765625px;
	position:absolute;
	left:44.05078125px;
	top:17.882671356201172px;
}
.e914_432 { 
	transform: rotate(90.00000250447808deg);
	background-color:rgba(129.00000751018524, 106.00000128149986, 254.00000005960464, 1);
	width:64px;
	height:63.999996185302734px;
	position:absolute;
	left:1699px;
	top:93px;
}
.e914_433 { 
	transform: rotate(7.0167217375642474e-15deg);
    width: 196px;
    height: 181px;
    position: absolute;
    left: 1819px;
    top: 273px;
}
.ei914_433_62_178 { 
	background-image:linear-gradient(0deg, rgba(255, 255, 255, 1) 0%,rgba(255, 255, 255, 0) 100%) ;
	width:196px;
	height:181px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei914_433_134_485 { 
	width:60px;
	height:60px;
	position:absolute;
	left:104px;
	top:60px;
}
.ei914_433_134_483 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:60px;
	height:60px;
	position:absolute;
	left:0px;
	top:0px;
}
.i914_433_134_483 { 
	border:1px solid rgba(129.00000751018524, 106.00000128149986, 254.00000005960464, 1);
}
.ei914_433_134_486 { 
	transform: rotate(90.00000250447808deg);
    background-color: rgba(129.00000751018524, 106.00000128149986, 254.00000005960464, 1);
    width: 24.994152069091797px;
    height: 21.64556884765625px;
    position: absolute;
    left: 29px;
    top: 17.882671356201172px;
}
.e914_434 { 
	transform: rotate(7.0167217375642474e-15deg);
	width:196px;
	height:181px;
	position:absolute;
	left:1579px;
	top:628px;
}
.ei914_434_62_178 { 
	background-image:linear-gradient(0deg, rgba(255, 255, 255, 1) 0%,rgba(255, 255, 255, 0) 100%) ;
	width:196px;
	height:181px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei914_434_134_485 { 
	width:60px;
	height:60px;
	position:absolute;
	left:104px;
	top:60px;
}
.ei914_434_134_483 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:60px;
	height:60px;
	position:absolute;
	left:0px;
	top:0px;
}
.i914_434_134_483 { 
	border:1px solid rgba(129.00000751018524, 106.00000128149986, 254.00000005960464, 1);
}
.ei914_434_134_486 { 
	transform: rotate(90.00000250447808deg);
    background-color: rgba(129.00000751018524, 106.00000128149986, 254.00000005960464, 1);
    width: 24.994152069091797px;
    height: 21.64556884765625px;
    position: absolute;
    left: 28px;
    top: 17.882671356201172px;
}
.e914_435 { 
	transform: rotate(7.0167217375642474e-15deg);
	width:196px;
	height:181px;
	position:absolute;
	left:1579px;
	top:979px;
}
.ei914_435_62_178 { 
	background-image:linear-gradient(0deg, rgba(255, 255, 255, 1) 0%,rgba(255, 255, 255, 0) 100%) ;
	width:196px;
	height:181px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei914_435_134_485 { 
	width:60px;
	height:60px;
	position:absolute;
	left:104px;
	top:60px;
}
.ei914_435_134_483 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:60px;
	height:60px;
	position:absolute;
	left:0px;
	top:0px;
}
.i914_435_134_483 { 
	border:1px solid rgba(129.00000751018524, 106.00000128149986, 254.00000005960464, 1);
}
.ei914_435_134_486 { 
	transform: rotate(90.00000250447808deg);
	background-color:rgba(129.00000751018524, 106.00000128149986, 254.00000005960464, 1);
	width:24.994152069091797px;
	height:21.64556884765625px;
	position:absolute;
	left:44.05078125px;
	top:17.882671356201172px;
}
.e914_436 { 
	width:425px;
	height:760px;
	position:absolute;
	left:888px;
	top:273px;
}
.e914_437 { 
	width:425px;
	height:760px;
	position:absolute;
	left:0px;
	top:0px;
}
.e914_438 { 
	width:422px;
	height:240px;
	position:absolute;
	left:0px;
	top:0px;
}
.e914_439 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	background-image:url(../images/rectangle_282.png);
	width:422px;
	height:240px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:16px;
	border-top-right-radius:16px;
	border-bottom-left-radius:16px;
	border-bottom-right-radius:16px;
	background-repeat:no-repeat;
	background-size:cover;
}
.e914_440 { 
	width:51px;
	height:50px;
	position:absolute;
	left:353px;
	top:13px;
	background-image:url(../images/play_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e914_441 { 
	color:rgba(255, 255, 255, 1);
	width:387px;
	height:96px;
	position:absolute;
	left:12px;
	top:71px;
	font-family:Abhaya Libre;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e914_442 { 
	color:rgba(255, 255, 255, 1);
	width:150px;
	height:30px;
	position:absolute;
	left:29px;
	top:8px;
	font-family:Noto Sans;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e914_443 { 
	color:rgba(255, 255, 255, 1);
	width:110px;
	height:30px;
	position:absolute;
	left:40px;
	top:182px;
	font-family:Noto Sans;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e914_444 { 
	color:rgba(255, 255, 255, 1);
	width:165px;
	height:30px;
	position:absolute;
	left:158px;
	top:182px;
	font-family:Noto Sans;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e914_445 { 
	width:425px;
	height:520px;
	position:absolute;
	left:0px;
	top:240px;
}
.e914_446 { 
	background-color:rgba(255, 255, 255, 1);
	width:425px;
	height:520px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:16px;
	border-top-right-radius:16px;
	border-bottom-left-radius:16px;
	border-bottom-right-radius:16px;
}
.e914_446 { 
	border:2px solid rgba(129.00000751018524, 106.00000128149986, 254.00000005960464, 1);
}
.e914_447 { 
	color:rgba(0, 0, 0, 1);
	width:219.5497589111328px;
	height:18.795181274414062px;
	position:absolute;
	left:128.9091796875px;
	top:40.722900390625px;
	font-family:Noto Sans;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e914_448 { 
	width:253.7916259765625px;
	height:18.795183181762695px;
	position:absolute;
	left:32.2275390625px;
	top:100.240966796875px;
}
.e914_449 { 
	background-color:rgba(213.00000250339508, 247.00000047683716, 253.0000001192093, 1);
	width:79.56161499023438px;
	height:18.795181274414062px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:24px;
	border-top-right-radius:24px;
	border-bottom-left-radius:24px;
	border-bottom-right-radius:24px;
}
.e914_450 { 
	background-color:rgba(218.00000220537186, 216.00000232458115, 251.00000023841858, 1);
	width:78.55450439453125px;
	height:18.795181274414062px;
	position:absolute;
	left:87.6181640625px;
	top:0px;
	border-top-left-radius:24px;
	border-top-right-radius:24px;
	border-bottom-left-radius:24px;
	border-bottom-right-radius:24px;
}
.e914_451 { 
	background-color:rgba(253.0000001192093, 245.00000059604645, 208.0000028014183, 1);
	width:79.56161499023438px;
	height:18.795181274414062px;
	position:absolute;
	left:174.23046875px;
	top:0px;
	border-top-left-radius:24px;
	border-top-right-radius:24px;
	border-bottom-left-radius:24px;
	border-bottom-right-radius:24px;
}
.e914_452 { 
	color:rgba(0, 0, 0, 1);
	width:78.55450439453125px;
	height:10.963854789733887px;
	position:absolute;
	left:0px;
	top:2.915771484375px;
	font-family:Noto Sans;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
	line-height:px;
}
.e914_453 { 
	color:rgba(0, 0, 0, 1);
	width:78.55450439453125px;
	height:10.963854789733887px;
	position:absolute;
	left:87.6181640625px;
	top:2.915771484375px;
	font-family:Noto Sans;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
	line-height:px;
}
.e914_454 { 
	color:rgba(0, 0, 0, 1);
	width:78.55450439453125px;
	height:10.963854789733887px;
	position:absolute;
	left:174.23046875px;
	top:2.915771484375px;
	font-family:Noto Sans;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
	line-height:px;
}
.e914_455 { 
	color:rgba(0, 0, 0, 1);
	width:360.5450439453125px;
	height:263.1325378417969px;
	position:absolute;
	left:32.2275390625px;
	top:157.40966796875px;
	font-family:Noto Sans;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:px;
}
.e914_456 { 
	color:rgba(152.9862204194069, 153.00000607967377, 152.97469943761826, 1);
	width:58.412322998046875px;
	height:19.578311920166016px;
	position:absolute;
	left:120px;
	top:64px;
	font-family:Noto Sans;
	text-align:right;
	font-size:18px;
	letter-spacing:0;
}
.e914_457 { 
	width:93px;
	height:84px;
	position:absolute;
	left:21px;
	top:248px;
	border-top-left-radius:63px;
	border-top-right-radius:63px;
	border-bottom-left-radius:63px;
	border-bottom-right-radius:63px;
	background-image:url(../images/image_8.png);
	background-repeat:no-repeat;
	background-size:cover;
}
 /*Mascodigo*/

.e957_245 { 
	overflow:hidden;
}
.e957_245 { 
	width: 572px;
    height: 670px;
    position: relative;
    top: 1248px;
    left: 402px;
}
.e66_60 { 
	width:572px;
	height:670px;
	position:absolute;
	left:0px;
	top:0px;
}
.e66_61 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:79.0328140258789px;
	height:81.21212005615234px;
	position:absolute;
	left:16.79447364807129px;
	top:93.39393615722656px;
	border-top-left-radius:16px;
	border-top-right-radius:16px;
	border-bottom-left-radius:16px;
	border-bottom-right-radius:16px;
	background-image:url(../images/rectangle_267.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e66_62 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:79.0328140258789px;
	height:81.21212005615234px;
	position:absolute;
	left:16.79447364807129px;
	top:217.242431640625px;
	border-top-left-radius:16px;
	border-top-right-radius:16px;
	border-bottom-left-radius:16px;
	border-bottom-right-radius:16px;
	background-image:url(../images/rectangle_269.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e66_63 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:79.0328140258789px;
	height:81.21212005615234px;
	position:absolute;
	left:16.79447364807129px;
	top:341.0909118652344px;
	border-top-left-radius:16px;
	border-top-right-radius:16px;
	border-bottom-left-radius:16px;
	border-bottom-right-radius:16px;
	background-image:url(../images/rectangle_270.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e66_64 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:79.0328140258789px;
	height:81.21212005615234px;
	position:absolute;
	left:16.79447364807129px;
	top:464.93939208984375px;
	border-top-left-radius:16px;
	border-top-right-radius:16px;
	border-bottom-left-radius:16px;
	border-bottom-right-radius:16px;
	background-image:url(../images/rectangle_271.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e66_65 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:79.0328140258789px;
	height:81.21212005615234px;
	position:absolute;
	left:16.79447364807129px;
	top:588.7879028320312px;
	border-top-left-radius:16px;
	border-top-right-radius:16px;
	border-bottom-left-radius:16px;
	border-bottom-right-radius:16px;
	background-image:url(../images/rectangle_272.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e66_66 { 
	width:572px;
	height:46.69696807861328px;
	position:absolute;
	left:0px;
	top:0px;
}
.e66_67 { 
	background-color:rgba(103.0000014603138, 89.00000229477882, 246.0000005364418, 1);
	width:561.1329956054688px;
	height:45.681819915771484px;
	position:absolute;
	left:0px;
	top:1.0151515007019043px;
}
.e66_68 { 
	color:rgba(255, 255, 255, 1);
	width:557.1813354492188px;
	height:38.57575607299805px;
	position:absolute;
	left:14.818653106689453px;
	top:0px;
	font-family:Noto Sans;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e66_69 { 
	width:408.99481201171875px;
	height:83.24242401123047px;
	position:absolute;
	left:103.7305679321289px;
	top:91.36363983154297px;
}
.e66_70 { 
	color:rgba(0, 0, 0, 1);
	width:408.99481201171875px;
	height:52.787879943847656px;
	position:absolute;
	left:0.00010119818762177601px;
	top:30.45453453063965px;
	font-family:Noto Sans;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:px;
}
.e66_71 { 
	color:rgba(0, 0, 0, 1);
	width:207.4611358642578px;
	height:30.454545974731445px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Noto Sans;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:px;
}
.e66_72 { 
	color:rgba(152.9862204194069, 153.00000607967377, 152.97469943761826, 1);
	width:57.298789978027344px;
	height:25.378787994384766px;
	position:absolute;
	left:160.0415496826172px;
	top:1.015140414237976px;
	font-family:Noto Sans;
	text-align:right;
	font-size:18px;
	letter-spacing:0;
}
.e66_73 { 
	width:408.99481201171875px;
	height:83.24242401123047px;
	position:absolute;
	left:103.7305679321289px;
	top:215.21212768554688px;
}
.e66_74 { 
	color:rgba(0, 0, 0, 1);
	width:408.99481201171875px;
	height:52.787879943847656px;
	position:absolute;
	left:0.00010119818762177601px;
	top:30.45450782775879px;
	font-family:Noto Sans;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:px;
}
.e66_75 { 
	color:rgba(0, 0, 0, 1);
	width:207.4611358642578px;
	height:30.454545974731445px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Noto Sans;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:px;
}
.e66_76 { 
	color:rgba(152.9862204194069, 153.00000607967377, 152.97469943761826, 1);
	width:57.298789978027344px;
	height:25.378787994384766px;
	position:absolute;
	left:160.0415496826172px;
	top:1.0151145458221436px;
	font-family:Noto Sans;
	text-align:right;
	font-size:18px;
	letter-spacing:0;
}
.e66_77 { 
	width:408.99481201171875px;
	height:83.24242401123047px;
	position:absolute;
	left:103.7305679321289px;
	top:339.06060791015625px;
}
.e66_78 { 
	color:rgba(0, 0, 0, 1);
	width:408.99481201171875px;
	height:52.787879943847656px;
	position:absolute;
	left:0.00010119818762177601px;
	top:30.454605102539062px;
	font-family:Noto Sans;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:px;
}
.e66_79 { 
	color:rgba(0, 0, 0, 1);
	width:207.4611358642578px;
	height:30.454545974731445px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Noto Sans;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:px;
}
.e66_80 { 
	color:rgba(152.9862204194069, 153.00000607967377, 152.97469943761826, 1);
	width:57.298789978027344px;
	height:25.378787994384766px;
	position:absolute;
	left:160.0415496826172px;
	top:1.015210747718811px;
	font-family:Noto Sans;
	text-align:right;
	font-size:18px;
	letter-spacing:0;
}
.e66_81 { 
	width:408.99481201171875px;
	height:83.24242401123047px;
	position:absolute;
	left:103.7305679321289px;
	top:462.9090881347656px;
}
.e66_82 { 
	color:rgba(0, 0, 0, 1);
	width:408.99481201171875px;
	height:52.787879943847656px;
	position:absolute;
	left:0.00010119818762177601px;
	top:30.454578399658203px;
	font-family:Noto Sans;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:px;
}
.e66_83 { 
	color:rgba(0, 0, 0, 1);
	width:207.4611358642578px;
	height:30.454545974731445px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Noto Sans;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:px;
}
.e66_84 { 
	color:rgba(152.9862204194069, 153.00000607967377, 152.97469943761826, 1);
	width:57.298789978027344px;
	height:25.378787994384766px;
	position:absolute;
	left:160.0415496826172px;
	top:1.015184760093689px;
	font-family:Noto Sans;
	text-align:right;
	font-size:18px;
	letter-spacing:0;
}
.e66_85 { 
	width:408.99481201171875px;
	height:83.24242401123047px;
	position:absolute;
	left:103.7305679321289px;
	top:586.757568359375px;
}
.e66_86 { 
	color:rgba(0, 0, 0, 1);
	width:408.99481201171875px;
	height:52.787879943847656px;
	position:absolute;
	left:0.00010119818762177601px;
	top:30.454553604125977px;
	font-family:Noto Sans;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:px;
}
.e66_87 { 
	color:rgba(0, 0, 0, 1);
	width:207.4611358642578px;
	height:30.454545974731445px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Noto Sans;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:px;
}
.e66_88 { 
	color:rgba(152.9862204194069, 153.00000607967377, 152.97469943761826, 1);
	width:57.298789978027344px;
	height:25.378787994384766px;
	position:absolute;
	left:188.69094848632812px;
	top:1.0151588916778564px;
	font-family:Noto Sans;
	text-align:right;
	font-size:18px;
	letter-spacing:0;
}

