.e1003_253 { 
	overflow:hidden;
}
.e1003_253 { 
	width:100vw;
	height:2504.01904296875px;
	position:relative;
}
.e41_103 { 
	width:888px;
	height:1108px;
	position:absolute;
	left:311px;
	top:1396.01904296875px;
}
.e1003_251 { 
	width:704px;
	height:781px;
	position:absolute;
	left:414px;
	top:264px;
	background-image:url(../images/07.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e41_101 { 
	width:163px;
	height:635px;
	position:absolute;
	left:19px;
	top:663.01904296875px;
}
.e41_100 { 
	background-color:rgba(252.00000017881393, 233.00000131130219, 109.00000110268593, 1);
	width:21.602371215820312px;
	height:94.3295669555664px;
	position:absolute;
	left:109.8646240234375px;
	top:482.4599609375px;
}
.e41_100 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e22_235 { 
	width:163px;
	height:635px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(../images/022.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e22_120 { 
	width:15px;
	height:16.13525390625px;
	position:absolute;
	left:972px;
	top:1120.6627197265625px;
}
.e22_121 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:0.4000000059604645;
	width:15px;
	height:16.13525390625px;
	position:absolute;
	left:0px;
	top:0px;
}
.e24_14 { 
	width:15px;
	height:16.13525390625px;
	position:absolute;
	left:972px;
	top:1422.425048828125px;
}
.e24_15 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:0.4000000059604645;
	width:15px;
	height:16.13525390625px;
	position:absolute;
	left:0px;
	top:0px;
}
.e22_122 { 
	color:rgba(255, 255, 255, 1);
	width:131px;
	height:20px;
	position:absolute;
	left:999px;
	top:1144.01904296875px;
	font-family:DM Sans;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}
.e22_123 { 
	width:15px;
	height:16.1353759765625px;
	position:absolute;
	left:972px;
	top:1170.3096923828125px;
}
.e22_124 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:0.4000000059604645;
	width:15px;
	height:16.1353759765625px;
	position:absolute;
	left:0px;
	top:0px;
}
.e22_125 { 
	color:rgba(255, 255, 255, 1);
	width:126px;
	height:20px;
	position:absolute;
	left:999px;
	top:1184.01904296875px;
	font-family:DM Sans;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}
.e22_126 { 
	width:15px;
	height:16.135498046875px;
	position:absolute;
	left:972px;
	top:1219.9566650390625px;
}
.e22_127 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:0.4000000059604645;
	width:15px;
	height:16.135498046875px;
	position:absolute;
	left:0px;
	top:0px;
}
.e22_128 { 
	color:rgba(255, 255, 255, 1);
	width:177px;
	height:20px;
	position:absolute;
	left:999px;
	top:1224.01904296875px;
	font-family:DM Sans;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}
.e24_16 { 
	color:rgba(252.00000017881393, 233.00000131130219, 109.00000110268593, 1);
	width:190px;
	height:20px;
	position:absolute;
	left:882px;
	top:1479.01904296875px;
	font-family:Noto Sans;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}
.e22_252 { 
	width:1315px;
	height:114px;
	position:absolute;
	left:95px;
	top:480.01904296875px;
}
.e22_246 { 
	border-radius:500px;
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:114px;
	height:114px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(../images/ellipse_229.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e22_246 { 
	border:8px solid rgba(255, 255, 255, 1);
}
.e22_251 { 
	border-radius:500px;
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:114px;
	height:114px;
	position:absolute;
	left:170px;
	top:0px;
	background-image:url(../images/ellipse_230.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e22_251 { 
	border:8px solid rgba(255, 255, 255, 1);
}
.e22_254 { 
	border-radius:500px;
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:114px;
	height:114px;
	position:absolute;
	left:340px;
	top:0px;
	background-image:url(../images/ellipse_231.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e22_254 { 
	border:8px solid rgba(255, 255, 255, 1);
}
.e22_255 { 
	border-radius:500px;
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:114px;
	height:114px;
	position:absolute;
	left:510px;
	top:0px;
	background-image:url(../images/ellipse_232.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e22_255 { 
	border:8px solid rgba(255, 255, 255, 1);
}
.e22_256 { 
	border-radius:500px;
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:114px;
	height:114px;
	position:absolute;
	left:680px;
	top:0px;
	background-image:url(../images/ellipse_233.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e22_256 { 
	border:8px solid rgba(255, 255, 255, 1);
}
.e22_257 { 
	border-radius:500px;
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:114px;
	height:114px;
	position:absolute;
	left:850px;
	top:0px;
	background-image:url(../images/ellipse_234.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e22_257 { 
	border:8px solid rgba(255, 255, 255, 1);
}
.e22_258 { 
	border-radius:500px;
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:114px;
	height:114px;
	position:absolute;
	left:1020px;
	top:0px;
	background-image:url(../images/ellipse_235.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e22_258 { 
	border:8px solid rgba(255, 255, 255, 1);
}
.e22_259 { 
	border-radius:500px;
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:114px;
	height:114px;
	position:absolute;
	left:1190px;
	top:0px;
	background-image:url(../images/ellipse_236.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e22_259 { 
	border:8px solid rgba(255, 255, 255, 1);
}
.e94_0 { 
	width:20px;
	height:20px;
	position:absolute;
	left:1360px;
	top:0px;
}
.e94_1 { 
	background-color:rgba(0, 0, 0, 1);
	width:18.20015525817871px;
	height:10.07546615600586px;
	position:absolute;
	left:0.7998450994491577px;
	top:4.924534320831299px;
}
.e24_6 { 
	width:1192px;
	height:180px;
	position:absolute;
	left:200px;
	top:763.01904296875px;
}
.e24_0 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:280px;
	height:180px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:16px;
	border-top-right-radius:16px;
	border-bottom-left-radius:16px;
	border-bottom-right-radius:16px;
	background-image:url(../images/rectangle_262.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e24_1 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:280px;
	height:180px;
	position:absolute;
	left:304px;
	top:0px;
	border-top-left-radius:16px;
	border-top-right-radius:16px;
	border-bottom-left-radius:16px;
	border-bottom-right-radius:16px;
	background-image:url(../images/rectangle_263.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e24_3 { 
	background-image:url(../images/rectangle_264.png);
	width:280px;
	height:180px;
	position:absolute;
	left:608px;
	top:0px;
	border-top-left-radius:16px;
	border-top-right-radius:16px;
	border-bottom-left-radius:16px;
	border-bottom-right-radius:16px;
	background-repeat:no-repeat;
	background-size:cover;
}
.e24_4 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:280px;
	height:180px;
	position:absolute;
	left:912px;
	top:0px;
	border-top-left-radius:16px;
	border-top-right-radius:16px;
	border-bottom-left-radius:16px;
	border-bottom-right-radius:16px;
	background-image:url(../images/rectangle_265.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e41_94 { 
	color:rgba(255, 255, 255, 1);
	width:106px;
	height:19px;
	position:absolute;
	left:837px;
	top:894.01904296875px;
	font-family:Noto Sans;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e41_96 { 
	color:rgba(255, 255, 255, 1);
	width:93px;
	height:19px;
	position:absolute;
	left:837px;
	top:915.01904296875px;
	font-family:Noto Sans;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e24_7 { 
	width:888px;
	height:180px;
	position:absolute;
	left:200px;
	top:1121.01904296875px;
}
.e24_8 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:280px;
	height:180px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:16px;
	border-top-right-radius:16px;
	border-bottom-left-radius:16px;
	border-bottom-right-radius:16px;
	background-image:url(../images/curso5.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e24_9 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:280px;
	height:180px;
	position:absolute;
	left:304px;
	top:0px;
	border-top-left-radius:16px;
	border-top-right-radius:16px;
	border-bottom-left-radius:16px;
	border-bottom-right-radius:16px;
	background-image:url(../images/ellipse_229.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e24_10 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:280px;
	height:180px;
	position:absolute;
	left:608px;
	top:0px;
	border-top-left-radius:16px;
	border-top-right-radius:16px;
	border-bottom-left-radius:16px;
	border-bottom-right-radius:16px;
	background-image:url(../images/arte.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e24_17 { 
	width:1192px;
	height:180px;
	position:absolute;
	left:202px;
	top:1482.01904296875px;
}
.e24_18 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:280px;
	height:180px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:16px;
	border-top-right-radius:16px;
	border-bottom-left-radius:16px;
	border-bottom-right-radius:16px;
	background-image:url(../images/curso2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e24_19 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:280px;
	height:180px;
	position:absolute;
	left:304px;
	top:0px;
	border-top-left-radius:16px;
	border-top-right-radius:16px;
	border-bottom-left-radius:16px;
	border-bottom-right-radius:16px;
	background-image:url(../images/curso3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e24_20 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:280px;
	height:180px;
	position:absolute;
	left:608px;
	top:0px;
	border-top-left-radius:16px;
	border-top-right-radius:16px;
	border-bottom-left-radius:16px;
	border-bottom-right-radius:16px;
	background-image:url(../images/curso4.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e24_21 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:280px;
	height:180px;
	position:absolute;
	left:912px;
	top:0px;
	border-top-left-radius:16px;
	border-top-right-radius:16px;
	border-bottom-left-radius:16px;
	border-bottom-right-radius:16px;
	background-image:url(../images/curso7.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e703_342 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:280px;
	height:180px;
	position:absolute;
	left:1122px;
	top:1118.01904296875px;
	border-top-left-radius:16px;
	border-top-right-radius:16px;
	border-bottom-left-radius:16px;
	border-bottom-right-radius:16px;
	background-image:url(../images/rectangle_267.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e24_2 { 
	color:rgba(0, 0, 0, 1);
	width:322px;
	height:40px;
	position:absolute;
	left:205px;
	top:699.01904296875px;
	font-family:Noto Sans;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e24_24 { 
	color:rgba(255, 255, 255, 1);
	width:355px;
	height:40px;
	position:absolute;
	left:202px;
	top:412.01904296875px;
	font-family:Noto Sans;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e24_13 { 
	color:rgba(0, 0, 0, 1);
	width:240px;
	height:40px;
	position:absolute;
	left:205px;
	top:1057.01904296875px;
	font-family:Noto Sans;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e24_23 { 
	color:rgba(0, 0, 0, 1);
	width:240px;
	height:40px;
	position:absolute;
	left:205px;
	top:1413.01904296875px;
	font-family:Noto Sans;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e54_18 { 
	width:160px;
	height:52.45584487915039px;
	position:absolute;
	left:1102px;
	top:420.01904296875px;
}
.e41_15 { 
	background-color:rgba(103.0000014603138, 89.00000229477882, 246.0000005364418, 1);
	width:160px;
	height:52.45584487915039px;
	position:absolute;
	left:0px;
	top:0px;
}
.e41_13 { 
	background-color:rgba(103.0000014603138, 89.00000229477882, 246.0000005364418, 1);
	width:160px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e41_14 { 
	transform: rotate(45deg);
	background-color:rgba(103.0000014603138, 89.00000229477882, 246.0000005364418, 1);
	width:18px;
	height:18px;
	position:absolute;
	left:77.72802734375px;
	top:27px;
}
.e41_16 { 
	color:rgba(255, 255, 255, 1);
	width:160px;
	height:26px;
	position:absolute;
	left:0px;
	top:6px;
	font-family:Noto Sans;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
	line-height:px;
}
.e41_99 { 
	width:51px;
	height:51px;
	position:absolute;
	left:942px;
	top:822.01904296875px;
}
.e41_97 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	opacity:0.800000011920929;
	width:51px;
	height:51px;
	position:absolute;
	left:0px;
	top:0px;
}
.e41_98 { 
	transform: rotate(90.00000250447808deg);
	background-color:rgba(129.00000751018524, 106.00000128149986, 254.00000005960464, 1);
	width:23px;
	height:23px;
	position:absolute;
	left:37px;
	top:14px;
	border-radius:2px;
}
.e957_245 { 
	width:572px;
	height:670px;
	position:absolute;
	left:183px;
	top:1733.01904296875px;
}
.e66_60 { 
	width:572px;
	height:670px;
	position:absolute;
	left:0px;
	top:0px;
}
.e66_61 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:79.0328140258789px;
	height:81.21212005615234px;
	position:absolute;
	left:16.79447364807129px;
	top:93.39393615722656px;
	border-top-left-radius:16px;
	border-top-right-radius:16px;
	border-bottom-left-radius:16px;
	border-bottom-right-radius:16px;
	background-image:url(../images/rectangle_267.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e66_62 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:79.0328140258789px;
	height:81.21212005615234px;
	position:absolute;
	left:16.79447364807129px;
	top:217.242431640625px;
	border-top-left-radius:16px;
	border-top-right-radius:16px;
	border-bottom-left-radius:16px;
	border-bottom-right-radius:16px;
	background-image:url(../images/rectangle_269.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e66_63 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:79.0328140258789px;
	height:81.21212005615234px;
	position:absolute;
	left:16.79447364807129px;
	top:341.0909118652344px;
	border-top-left-radius:16px;
	border-top-right-radius:16px;
	border-bottom-left-radius:16px;
	border-bottom-right-radius:16px;
	background-image:url(../images/rectangle_270.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e66_64 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:79.0328140258789px;
	height:81.21212005615234px;
	position:absolute;
	left:16.79447364807129px;
	top:464.93939208984375px;
	border-top-left-radius:16px;
	border-top-right-radius:16px;
	border-bottom-left-radius:16px;
	border-bottom-right-radius:16px;
	background-image:url(../images/rectangle_271.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e66_65 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:79.0328140258789px;
	height:81.21212005615234px;
	position:absolute;
	left:16.79447364807129px;
	top:588.7879028320312px;
	border-top-left-radius:16px;
	border-top-right-radius:16px;
	border-bottom-left-radius:16px;
	border-bottom-right-radius:16px;
	background-image:url(../images/rectangle_272.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e66_66 { 
	width:572px;
	height:46.69696807861328px;
	position:absolute;
	left:0px;
	top:0px;
}
.e66_67 { 
	background-color:rgba(103.0000014603138, 89.00000229477882, 246.0000005364418, 1);
	width:561.1329956054688px;
	height:45.681819915771484px;
	position:absolute;
	left:0px;
	top:1.0151515007019043px;
}
.e66_68 { 
	color:rgba(255, 255, 255, 1);
	width:557.1813354492188px;
	height:38.57575607299805px;
	position:absolute;
	left:14.818653106689453px;
	top:0px;
	font-family:Noto Sans;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e66_69 { 
	width:408.99481201171875px;
	height:83.24242401123047px;
	position:absolute;
	left:103.7305679321289px;
	top:91.36363983154297px;
}
.e66_70 { 
	color:rgba(0, 0, 0, 1);
	width:408.99481201171875px;
	height:52.787879943847656px;
	position:absolute;
	left:0.00010119818762177601px;
	top:30.45453453063965px;
	font-family:Noto Sans;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:px;
}
.e66_71 { 
	color:rgba(0, 0, 0, 1);
	width:207.4611358642578px;
	height:30.454545974731445px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Noto Sans;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:px;
}
.e66_72 { 
	color:rgba(152.9862204194069, 153.00000607967377, 152.97469943761826, 1);
	width:57.298789978027344px;
	height:25.378787994384766px;
	position:absolute;
	left:160.0415496826172px;
	top:1.015140414237976px;
	font-family:Noto Sans;
	text-align:right;
	font-size:18px;
	letter-spacing:0;
}
.e66_73 { 
	width:408.99481201171875px;
	height:83.24242401123047px;
	position:absolute;
	left:103.7305679321289px;
	top:215.21212768554688px;
}
.e66_74 { 
	color:rgba(0, 0, 0, 1);
	width:408.99481201171875px;
	height:52.787879943847656px;
	position:absolute;
	left:0.00010119818762177601px;
	top:30.45450782775879px;
	font-family:Noto Sans;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:px;
}
.e66_75 { 
	color:rgba(0, 0, 0, 1);
	width:207.4611358642578px;
	height:30.454545974731445px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Noto Sans;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:px;
}
.e66_76 { 
	color:rgba(152.9862204194069, 153.00000607967377, 152.97469943761826, 1);
	width:57.298789978027344px;
	height:25.378787994384766px;
	position:absolute;
	left:160.0415496826172px;
	top:1.0151145458221436px;
	font-family:Noto Sans;
	text-align:right;
	font-size:18px;
	letter-spacing:0;
}
.e66_77 { 
	width:408.99481201171875px;
	height:83.24242401123047px;
	position:absolute;
	left:103.7305679321289px;
	top:339.06060791015625px;
}
.e66_78 { 
	color:rgba(0, 0, 0, 1);
	width:408.99481201171875px;
	height:52.787879943847656px;
	position:absolute;
	left:0.00010119818762177601px;
	top:30.454605102539062px;
	font-family:Noto Sans;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:px;
}
.e66_79 { 
	color:rgba(0, 0, 0, 1);
	width:207.4611358642578px;
	height:30.454545974731445px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Noto Sans;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:px;
}
.e66_80 { 
	color:rgba(152.9862204194069, 153.00000607967377, 152.97469943761826, 1);
	width:57.298789978027344px;
	height:25.378787994384766px;
	position:absolute;
	left:160.0415496826172px;
	top:1.015210747718811px;
	font-family:Noto Sans;
	text-align:right;
	font-size:18px;
	letter-spacing:0;
}
.e66_81 { 
	width:408.99481201171875px;
	height:83.24242401123047px;
	position:absolute;
	left:103.7305679321289px;
	top:462.9090881347656px;
}
.e66_82 { 
	color:rgba(0, 0, 0, 1);
	width:408.99481201171875px;
	height:52.787879943847656px;
	position:absolute;
	left:0.00010119818762177601px;
	top:30.454578399658203px;
	font-family:Noto Sans;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:px;
}
.e66_83 { 
	color:rgba(0, 0, 0, 1);
	width:207.4611358642578px;
	height:30.454545974731445px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Noto Sans;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:px;
}
.e66_84 { 
	color:rgba(152.9862204194069, 153.00000607967377, 152.97469943761826, 1);
	width:57.298789978027344px;
	height:25.378787994384766px;
	position:absolute;
	left:160.0415496826172px;
	top:1.015184760093689px;
	font-family:Noto Sans;
	text-align:right;
	font-size:18px;
	letter-spacing:0;
}
.e66_85 { 
	width:408.99481201171875px;
	height:83.24242401123047px;
	position:absolute;
	left:103.7305679321289px;
	top:586.757568359375px;
}
.e66_86 { 
	color:rgba(0, 0, 0, 1);
	width:408.99481201171875px;
	height:52.787879943847656px;
	position:absolute;
	left:0.00010119818762177601px;
	top:30.454553604125977px;
	font-family:Noto Sans;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:px;
}
.e66_87 { 
	color:rgba(0, 0, 0, 1);
	width:207.4611358642578px;
	height:30.454545974731445px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Noto Sans;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:px;
}
.e66_88 { 
	color:rgba(152.9862204194069, 153.00000607967377, 152.97469943761826, 1);
	width:57.298789978027344px;
	height:25.378787994384766px;
	position:absolute;
	left:188.69094848632812px;
	top:1.0151588916778564px;
	font-family:Noto Sans;
	text-align:right;
	font-size:18px;
	letter-spacing:0;
}
.e702_338 { 
	width:510px;
	height:230px;
	position:absolute;
	left:0px;
	top:75.01904296875px;
	background-image:url(../images/image_8.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e22_247 { 
	width:641px;
	height:62px;
	position:absolute;
	left:424px;
	top:274.01904296875px;
}
.e22_226 { 
	background-color:rgba(255, 255, 255, 1);
	width:641px;
	height:62px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
}
.e22_226 { 
	border:2px solid rgba(103.0000014603138, 89.00000229477882, 246.0000005364418, 1);
}
.e22_226:hover { 
	border:4px solid rgba(129.00000751018524, 106.00000128149986, 254.00000005960464, 1);
	background-color: rgb(255, 253, 246);
	color: black;
}

/*Hace letras gruesas al pasar por ellas*/

.e22_240:hover{
	font-weight: bold;
}
.e22_242:hover{font-weight: bold;
}
.e22_243:hover{font-weight: bold;
}
.e22_244:hover{font-weight: bold;
}
.e707_313:hover{
	font-weight: bold;
}


.e22_230 { 
	color:rgba(191.23287051916122, 191.25, 191.21855288743973, 1);
	width:246px;
	height:16px;
	position:absolute;
	left:26.932861328125px;
	top:23px;
	font-family:Noto Sans;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e932_250 { 
	width:1183px;
	height:44px;
	position:absolute;
	left:167px;
	top:195.01904296875px;
}
.e22_233 { 
	width:1183px;
	height:44px;
	position:absolute;
	left:0px;
	top:0px;
}
.e22_75 { 
	background-color:rgba(129.00000751018524, 106.00000128149986, 254.00000005960464, 1);
	width:201px;
	height:44px;
	position:absolute;
	left:670px;
	top:0px;
}
.e22_77 { 
	color:rgba(34.00000177323818, 34.00000177323818, 34.00000177323818, 1);
	width:1183px;
	height:37px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Noto Sans;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}
.e22_241 { 
	width:566px;
	height:23px;
	position:absolute;
	left:499px;
	top:360.01904296875px;
}
.e22_240 { 
	color:rgba(0, 0, 0, 1);
	width:116px;
	height:25px;
	position:absolute;
	left:0px;
	top:-1px;
	font-family:Noto Sans;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e22_242 { 
	color:rgba(0, 0, 0, 1);
	width:108px;
	height:25px;
	position:absolute;
	left:132px;
	top:-1px;
	font-family:Noto Sans;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e22_243 { 
	color:rgba(0, 0, 0, 1);
	width:46px;
	height:25px;
	position:absolute;
	left:256px;
	top:-1px;
	font-family:Noto Sans;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e22_244 { 
	color:rgba(0, 0, 0, 1);
	width:96px;
	height:25px;
	position:absolute;
	left:318px;
	top:-1px;
	font-family:Noto Sans;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e707_313 { 
	color:rgba(0, 0, 0, 1);
	width:132px;
	height:25px;
	position:absolute;
	left:430px;
	top:-1px;
	font-family:Noto Sans;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e705_379 { 
	border:2px solid rgba(129.00000751018524, 106.00000128149986, 254.00000005960464, 1);
}
.e705_379 { 
	width:255px;
	height:56px;
	position:absolute;
	left:1161px;
	top:195.01904296875px;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
}
.e705_380 { 
	width:255px;
	height:56px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}
.e705_381 { 
	color:rgba(129.00000751018524, 106.00000128149986, 254.00000005960464, 1);
	width:255px;
	height:25px;
	position:absolute;
	left:0px;
	top:16px;
	font-family:Noto Sans;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
.e22_61 { 
	width:12px;
	height:12px;
	position:absolute;
	left:1313px;
	top:0px;
}
.e22_63 { 
	width:12px;
	height:12px;
	position:absolute;
	left:0px;
	top:0px;
}
.e22_64 { 
	width:12px;
	height:12px;
	position:absolute;
	left:0px;
	top:0px;
}
.e22_65 { 
	background-color:rgba(255, 255, 255, 1);
	width:8px;
	height:6px;
	position:absolute;
	left:2px;
	top:3px;
}
