.body{
    background: #E5E5E5;
    text-align: center;
}
.e924_645 { 
	overflow:hidden;
    position: relative;
}
.e924_645 { 
	width:579px;
	height:1258px;
	position:absolute;
    text-align: center;
}
.e924_637 { 
	color:rgba(34.00000177323818, 34.00000177323818, 34.00000177323818, 1);
	width:516px;
	height:72px;
	position:absolute;
	left:32px;
	top:0px;
	font-family:Noto Sans;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}
.e924_638 { 
	width:263px;
	height:263px;
	position:absolute;
	left:158px;
	top:77px;
	background-image:url(../images/belmont.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e924_639 { 
	color:rgba(0, 0, 0, 1);
	width:398px;
	height:126px;
	position:absolute;
	left:91px;
	top:362px;
	font-family:Noto Sans;
	text-align:center;
	font-size:40px;
	letter-spacing:0;
}
.e924_640 { 
	color:rgba(191.00000381469727, 191.00000381469727, 191.00000381469727, 1);
	width:188px;
	height:41px;
	position:absolute;
	left:196px;
	top:479px;
	font-family:Noto Sans;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}
.e924_641 { 
	color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:298px;
	height:44px;
	position:absolute;
	left:141px;
	top:555px;
	font-family:Noto Sans;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}
.e924_642 { 
	color:rgba(0, 0, 0, 1);
	width:473px;
	height:67px;
	position:absolute;
	left:53px;
	top:629px;
	font-family:Noto Sans;
	text-align:center;
	font-size:40px;
	letter-spacing:0;
}
.e924_643 { 
	color:rgba(0, 0, 0, 1);
	width:579px;
	height:532px;
	position:absolute;
	left:0px;
	top:726px;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
