.e986_283 { 
	overflow:hidden;
}
.e986_283 { 
	width:100vw;
	height:1284px;
	position:relative;
}
.e986_281 { 
	width:100vw;
	height:1284px;
	position:relative;
	left:0px;
	top:0px;
}
.e986_250 { 
	width:1252px;
	height:94px;
	position:absolute;
	left:0px;
	top:155px;
}
.e986_251 { 
	width:1252px;
	height:94px;
	position:absolute;
	left:0px;
	top:0px;
}
.e986_252 { 
	width:1252px;
	height:94px;
	position:absolute;
	left:0px;
	top:0px;
}
.e986_253 { 
	background-color:rgba(129.00000751018524, 106.00000128149986, 254.00000005960464, 1);
	width:253px;
	height:94px;
	position:absolute;
	left:456px;
	top:0px;
}
.e986_254 { 
	background-color:rgba(252.00000017881393, 233.00000131130219, 109.00000110268593, 1);
	width:171px;
	height:94px;
	position:absolute;
	left:625px;
	top:0px;
}
.e986_255 { 
	color:rgba(255, 255, 255, 1);
	width:1252px;
	height:75px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Noto Sans;
	text-align:center;
	font-size:64px;
	letter-spacing:0;
}
.e986_266 { 
	width:1099px;
	height:1184px;
	position:absolute;
	left:23px;
	top:0px;
}
.e986_267 { 
	width:774px;
	height:463px;
	position:absolute;
	left:259px;
	top:721px;
}
.e986_268 { 
	background-color:rgba(255, 255, 255, 1);
	width:771px;
	height:54px;
	position:absolute;
	left:0px;
	top:34px;
}
.e986_268 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e986_269 { 
	background-color:rgba(255, 255, 255, 1);
	width:771px;
	height:54px;
	position:absolute;
	left:3px;
	top:131px;
}
.e986_269 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e986_270 { 
	background-color:rgba(255, 255, 255, 1);
	width:771px;
	height:54px;
	position:absolute;
	left:3px;
	top:228px;
}
.e986_270 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e986_271 { 
	background-color:rgba(255, 255, 255, 1);
	width:771px;
	height:54px;
	position:absolute;
	left:3px;
	top:409px;
}
.e986_271 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e986_272 { 
	background-color:rgba(255, 255, 255, 1);
	width:352px;
	height:41px;
	position:absolute;
	left:3px;
	top:325px;
}
.e986_272 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e986_273 { 
	background-color:rgba(255, 255, 255, 1);
	width:404px;
	height:41px;
	position:absolute;
	left:370px;
	top:325px;
}
.e986_273 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e986_274 { 
	color:rgba(0, 0, 0, 1);
	width:167px;
	height:25px;
	position:absolute;
	left:3px;
	top:0px;
	font-family:Noto Sans;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
.e986_275 { 
	color:rgba(0, 0, 0, 1);
	width:82px;
	height:25px;
	position:absolute;
	left:3px;
	top:97px;
	font-family:Noto Sans;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
.e986_276 { 
	color:rgba(0, 0, 0, 1);
	width:111px;
	height:25px;
	position:absolute;
	left:3px;
	top:194px;
	font-family:Noto Sans;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
.e986_277 { 
	color:rgba(0, 0, 0, 1);
	width:597px;
	height:25px;
	position:absolute;
	left:3px;
	top:375px;
	font-family:Noto Sans;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
.e986_278 { 
	color:rgba(0, 0, 0, 1);
	width:193px;
	height:25px;
	position:absolute;
	left:3px;
	top:291px;
	font-family:Noto Sans;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
.e986_279 { 
	color:rgba(0, 0, 0, 1);
	width:113px;
	height:25px;
	position:absolute;
	left:370px;
	top:291px;
	font-family:Noto Sans;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
.e986_258 { 
	width:1099px;
	height:678px;
	position:absolute;
	left:0px;
	top:0px;
}
.e986_259 { 
	color:rgba(34.00000177323818, 34.00000177323818, 34.00000177323818, 1);
	width:919px;
	height:72px;
	position:absolute;
	left:180px;
	top:550px;
	font-family:Noto Sans;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
.e986_260 { 
	background-color:rgba(255, 255, 255, 1);
	width:255px;
	height:56px;
	position:absolute;
	left:490px;
	top:622px;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
	font-family:Noto Sans;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
	align-content: center;
	color: rgba(129.00000751018524, 106.00000128149986, 254.00000005960464, 1);
	padding-top: 10px;
}
.e986_260:hover { 
	color: white;
	background-color: rgba(129.00000751018524, 106.00000128149986, 254.00000005960464, 1);
}
.e986_260 { 
	border:2px solid rgba(129.00000751018524, 106.00000128149986, 254.00000005960464, 1);
}
.e986_261 { 
	width:255px;
	height:56px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}
.e986_262 { 
	color:rgba(129.00000751018524, 106.00000128149986, 254.00000005960464, 1);
	width:255px;
	height:25px;
	position:absolute;
	left:0px;
	top:16px;
	font-family:Noto Sans;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
.e986_256 { 
	width:429px;
	height:202px;
	position:absolute;
	left:0px;
	top:0px;
}
.e986_257 { 
	width:429px;
	height:202px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(../images/image_6.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e986_282 { 
	width:192px;
	height:198px;
	position:absolute;
	left:540px;
	top:323px;
	background-image:url(../images/submit.png);
	background-repeat:no-repeat;
	background-size:cover;
}
input[type="file"] {
    display: none;
}
