.e883_1008 { 
	overflow:hidden;
}
.e883_1008 { 
	width:100%;
	height:100vh;
	position:absolute;
}
.e883_952 { 
	width:100%;
	height:100vh;
	position:absolute;
	left:0px;
	top:0px;
}
.e883_953 { 
	width:15px;
	height:17.4727783203125px;
	position:absolute;
	left:918.423828125px;
	top:277.9384765625px;
}
.e883_954 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:0.4000000059604645;
	width:15px;
	height:17.4727783203125px;
	position:absolute;
	left:0px;
	top:0px;
}
.e883_955 { 
	width:247px;
	height:247px;
	position:absolute;
	left:1114px;
	top:158px;
}
.e883_956 { 
	width:247px;
	height:247px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(../images/03.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e883_957 { 
	background-color:rgba(252.00000017881393, 233.00000131130219, 109.00000110268593, 1);
	width:54.31782150268555px;
	height:63.60213851928711px;
	position:absolute;
	left:123.8525390625px;
	top:26.964599609375px;
}
.e883_958 { 
	background-color:rgba(252.00000017881393, 233.00000131130219, 109.00000110268593, 1);
	width:54.31782150268555px;
	height:63.60213851928711px;
	position:absolute;
	left:0px;
	top:0px;
}
.e883_958 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e883_959 { 
	transform: rotate(38.077717524838356deg);
	border-radius:500px;
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:4.354008674621582px;
	height:10.892736434936523px;
	position:absolute;
	left:45.833984375px;
	top:3.4986572265625px;
}
.e883_960 { 
	width:510px;
	height:230px;
	position:absolute;
	left:0px;
	top:52px;
	background-image:url(../images/image_6.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e883_961 { 
	width:641px;
	height:62px;
	position:absolute;
	left:403px;
	top:342px;
}
.ei883_961_22_226 { 
	z-index: 10;
	background-color:rgba(255, 255, 255, 1);
	border:2px solid rgba(129.00000751018524, 106.00000128149986, 254.00000005960464, 1);
	width:641px;
	height:62px;
	position:absolute;
	left:403px;
	top:342px;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
}
.ei883_961_22_226:hover { 
	border:4px solid rgba(129.00000751018524, 106.00000128149986, 254.00000005960464, 1);
	background-color: rgb(255, 253, 246);
	color: black;
}
.i883_961_22_226 { 
	border:2px solid rgba(103.0000014603138, 89.00000229477882, 246.0000005364418, 1);
}
.ei883_961_22_228 { 
	background-color:rgba(129.00000751018524, 106.00000128149986, 254.00000005960464, 1);
	width:25px;
	height:25px;
	position:absolute;
	left:594.3164672851562px;
	top:19px;
}
.ei883_961_22_230 { 
	color:rgba(191.23287051916122, 191.25, 191.21855288743973, 1);
	width:246px;
	height:16px;
	position:absolute;
	left:26.932861328125px;
	top:23px;
	font-family:Noto Sans;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e883_962 { 
	width:1183px;
	height:44px;
	position:absolute;
	left:146px;
	top:263px;
}
.e883_963 { 
	background-color:rgba(129.00000751018524, 106.00000128149986, 254.00000005960464, 1);
	width:201px;
	height:44px;
	position:absolute;
	left:670px;
	top:0px;
}
.e883_964 { 
	color:rgba(34.00000177323818, 34.00000177323818, 34.00000177323818, 1);
	width:1183px;
	height:37px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Noto Sans;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}
.e883_965 { 
	width:566px;
	height:23px;
	position:absolute;
	left:444px;
	top:431px;
}
.e883_966 { 
	color:rgba(0, 0, 0, 1);
	width:116px;
	height:25px;
	position:absolute;
	left:0px;
	top:-1px;
	font-family:Noto Sans;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e883_967 { 
	color:rgba(0, 0, 0, 1);
	width:108px;
	height:25px;
	position:absolute;
	left:132px;
	top:-1px;
	font-family:Noto Sans;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e883_968 { 
	color:rgba(0, 0, 0, 1);
	width:46px;
	height:25px;
	position:absolute;
	left:256px;
	top:-1px;
	font-family:Noto Sans;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e883_969 { 
	color:rgba(0, 0, 0, 1);
	width:96px;
	height:25px;
	z-index: 4;
	position:absolute;
	left:318px;
	top:-1px;
	font-family:Noto Sans;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
/*Hace letras gruesas al pasar por ellas*/

.e883_966:hover{
	font-weight: bold;
}
.e883_967:hover{font-weight: bold;
}
.e883_968:hover{font-weight: bold;
}
.e883_969:hover{font-weight: bold;
}
.e883_970:hover{
	font-weight: bold;
}

.e883_970 { 
	color:rgba(0, 0, 0, 1);
	width:132px;
	height:25px;
	position:absolute;
	left:430px;
	top:-1px;
	font-family:Noto Sans;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e883_971 { 
	background-color:rgba(255, 255, 255, 1);
	width:100%;
	height:22%;
	position:absolute;
	left:0px;
	top:0px;
}
.e883_972 { 
	width:260px;
	height:64px;
	position:absolute;
	left:1010px;
	top:20px;
}
.e883_973 { 
	color:rgba(46.000001057982445, 59.00000028312206, 82.00000271201134, 1);
	width:130.53497314453125px;
	height:26px;
	position:absolute;
	left:0px;
	top:14px;
	font-family:Heebo;
	text-align:right;
	font-size:18px;
	letter-spacing:1;
}
.e883_974 { 
	color:rgba(166.00000530481339, 172.00000494718552, 190.0000038743019, 1);
	width:63.12757110595703px;
	height:18px;
	position:absolute;
	left:67.4072265625px;
	top:35px;
	font-family:Heebo;
	text-align:right;
	font-size:12px;
	letter-spacing:1;
}
.e883_975 { 
	background-color:rgba(255, 255, 255, 1);
	width:25.679012298583984px;
	height:24px;
	position:absolute;
	left:210.7822265625px;
	top:20px;
}
.e883_976 { 
	border:2px solid rgba(201.00000321865082, 206.0000029206276, 214.00000244379044, 1);
}
.e883_976 { 
	width:12.839505195617676px;
	height:6px;
	position:absolute;
	left:6.419753074645996px;
	top:9px;
}
.e883_977 { 
	transform: rotate(89.99999732031134deg);
	width:64px;
	height:0px;
	position:absolute;
	left:260px;
	top:0px;
}
.e883_977 { 
	border:1px solid rgba(239.3104138970375, 243.62417042255402, 246.49999290704727, 1);
}
.e883_986 { 
	border-radius:500px;
	width:58.84773635864258px;
	height:55px;
	position:absolute;
	left:147.654296875px;
	top:2px;
	background-image:url(../images/ellipse_241.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e883_986 { 
	border:3px solid rgba(129.00000751018524, 106.00000128149986, 254.00000005960464, 1);
}
.e883_987 { 
	width:96px;
	height:29px;
	position:absolute;
	left:886px;
	top:34px;
}
.e883_988 { 
	color:rgba(34.00000177323818, 34.00000177323818, 34.00000177323818, 1);
	width:96px;
	height:29px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Noto Sans;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e883_1002 { 
	width:50px;
	height:29px;
	position:absolute;
	left:1332px;
	top:32px;
}
.e883_1003 { 
	color:rgba(34.00000177323818, 34.00000177323818, 34.00000177323818, 1);
	width:50px;
	height:29px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Noto Sans;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e883_1004 { 
	width:274px;
	height:25px;
	position:absolute;
	left:533px;
	top:37px;
}
.e883_1005 { 
	color:rgba(0, 0, 0, 1);
	width:48px;
	height:25px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Noto Sans;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e883_1006 { 
	color:rgba(0, 0, 0, 1);
	width:59px;
	height:25px;
	position:absolute;
	left:104px;
	top:0px;
	font-family:Noto Sans;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e883_1007 { 
	color:rgba(34.00000177323818, 34.00000177323818, 34.00000177323818, 1);
	width:55px;
	height:25px;
	position:absolute;
	left:219px;
	top:0px;
	font-family:Noto Sans;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
/*Seccion cursos*/
.e886_1055 { 
	overflow:hidden;
}
.e886_1055 { 
	width:100vw;
	height:100vh;
	position:inherit;
}
.e68_1 { 
	width:845px;
	height:1502px;
	position:absolute;
	left:42%;
	top:210%;
}
.e72_136 { 
	color:rgba(129.00000751018524, 106.00000128149986, 254.00000005960464, 1);
	width:285px;
	height:30px;
	position:absolute;
	left:0px;
	top:1472px;
	font-family:Rubik;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e7_38 { 
	width:470px;
	height:470px;
	position:absolute;
	left:375px;
	top:0px;
	background-image:url(../images/04.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e100_60 { 
	width:1300px;
	height:200px;
	position:absolute;
	left:10%;
	top:1862px;
}
.e100_2 { 
	width:200px;
	height:200px;
	position:absolute;
	left:0px;
	top:0px;
}
.e100_1 { 
	width:200px;
	height:200px;
	position:absolute;
	left:0px;
	top:0px;
}
.e82_6 { 
	color:rgba(34.00000177323818, 34.00000177323818, 34.00000177323818, 1);
	width:200px;
	height:25px;
	position:absolute;
	left:0px;
	top:208px;
	font-family:Noto Sans;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
.e100_38 { 
	color:rgba(152.9862204194069, 153.00000607967377, 152.97469943761826, 1);
	width:200px;
	height:25px;
	position:absolute;
	left:0px;
	top:241px;
	font-family:Noto Sans;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
.e98_1 { 
	border:4px solid rgba(103.0000014603138, 89.00000229477882, 246.0000005364418, 1);
}
.e98_1 { 
	width:200px;
	height:200px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:16px;
	border-top-right-radius:16px;
	border-bottom-left-radius:16px;
	border-bottom-right-radius:16px;
	background-image:url(../images/rectangle_262.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e82_4 { 
	box-shadow:0.5px 0.5px 0px rgba(0, 0, 0, 0.4000000059604645);
	color:rgba(255, 255, 255, 1);
	width:58px;
	height:25px;
	position:absolute;
	left:126px;
	top:16px;
	font-family:Noto Sans;
	text-align:right;
	font-size:18px;
	letter-spacing:0;
}
.e100_3 { 
	width:200px;
	height:200px;
	position:absolute;
	left:220px;
	top:0px;
}
.e100_4 { 
	width:200px;
	height:200px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei100_4_82_6 { 
	color:rgba(34.00000177323818, 34.00000177323818, 34.00000177323818, 1);
	width:200px;
	height:25px;
	position:absolute;
	left:0px;
	top:208px;
	font-family:Noto Sans;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
.ei100_4_100_38 { 
	color:rgba(152.9862204194069, 153.00000607967377, 152.97469943761826, 1);
	width:200px;
	height:25px;
	position:absolute;
	left:0px;
	top:241px;
	font-family:Noto Sans;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
.ei100_4_98_1 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:200px;
	height:200px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:16px;
	border-top-right-radius:16px;
	border-bottom-left-radius:16px;
	border-bottom-right-radius:16px;
	background-image:url(../images/curso2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.i100_4_98_1 { 
	border:4px solid rgba(103.0000014603138, 89.00000229477882, 246.0000005364418, 1);
}
.ei100_4_82_4 { 
	box-shadow:0.5px 0.5px 0px rgba(0, 0, 0, 0.4000000059604645);
	color:rgba(255, 255, 255, 1);
	width:58px;
	height:25px;
	position:absolute;
	left:126px;
	top:16px;
	font-family:Noto Sans;
	text-align:right;
	font-size:18px;
	letter-spacing:0;
}
.e100_8 { 
	width:200px;
	height:200px;
	position:absolute;
	left:440px;
	top:0px;
}
.e100_9 { 
	width:200px;
	height:200px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei100_9_82_6 { 
	color:rgba(34.00000177323818, 34.00000177323818, 34.00000177323818, 1);
	width:200px;
	height:25px;
	position:absolute;
	left:0px;
	top:208px;
	font-family:Noto Sans;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
.ei100_9_100_38 { 
	color:rgba(152.9862204194069, 153.00000607967377, 152.97469943761826, 1);
	width:200px;
	height:25px;
	position:absolute;
	left:0px;
	top:241px;
	font-family:Noto Sans;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
.ei100_9_98_1 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:200px;
	height:200px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:16px;
	border-top-right-radius:16px;
	border-bottom-left-radius:16px;
	border-bottom-right-radius:16px;
	background-image:url(../images/curso3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.i100_9_98_1 { 
	border:4px solid rgba(103.0000014603138, 89.00000229477882, 246.0000005364418, 1);
}
.ei100_9_82_4 { 
	box-shadow:0.5px 0.5px 0px rgba(0, 0, 0, 0.4000000059604645);
	color:rgba(255, 255, 255, 1);
	width:54px;
	height:25px;
	position:absolute;
	left:130px;
	top:16px;
	font-family:Noto Sans;
	text-align:right;
	font-size:18px;
	letter-spacing:0;
}
.e100_13 { 
	width:200px;
	height:200px;
	position:absolute;
	left:660px;
	top:0px;
}
.e100_14 { 
	width:200px;
	height:200px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei100_14_82_6 { 
	color:rgba(34.00000177323818, 34.00000177323818, 34.00000177323818, 1);
	width:200px;
	height:25px;
	position:absolute;
	left:0px;
	top:208px;
	font-family:Noto Sans;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
.ei100_14_100_38 { 
	color:rgba(152.9862204194069, 153.00000607967377, 152.97469943761826, 1);
	width:200px;
	height:25px;
	position:absolute;
	left:0px;
	top:241px;
	font-family:Noto Sans;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
.ei100_14_98_1 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:200px;
	height:200px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:16px;
	border-top-right-radius:16px;
	border-bottom-left-radius:16px;
	border-bottom-right-radius:16px;
	background-image:url(../images/curso4.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.i100_14_98_1 { 
	border:4px solid rgba(103.0000014603138, 89.00000229477882, 246.0000005364418, 1);
}
.ei100_14_82_4 { 
	box-shadow:0.5px 0.5px 0px rgba(0, 0, 0, 0.4000000059604645);
	color:rgba(255, 255, 255, 1);
	width:58px;
	height:25px;
	position:absolute;
	left:126px;
	top:16px;
	font-family:Noto Sans;
	text-align:right;
	font-size:18px;
	letter-spacing:0;
}
.e100_18 { 
	width:200px;
	height:200px;
	position:absolute;
	left:880px;
	top:0px;
}
.e100_19 { 
	width:200px;
	height:200px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei100_19_82_6 { 
	color:rgba(34.00000177323818, 34.00000177323818, 34.00000177323818, 1);
	width:200px;
	height:25px;
	position:absolute;
	left:0px;
	top:208px;
	font-family:Noto Sans;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
.ei100_19_100_38 { 
	color:rgba(152.9862204194069, 153.00000607967377, 152.97469943761826, 1);
	width:200px;
	height:25px;
	position:absolute;
	left:0px;
	top:241px;
	font-family:Noto Sans;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
.ei100_19_98_1 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:200px;
	height:200px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:16px;
	border-top-right-radius:16px;
	border-bottom-left-radius:16px;
	border-bottom-right-radius:16px;
	background-image:url(../images/curso5.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.i100_19_98_1 { 
	border:4px solid rgba(103.0000014603138, 89.00000229477882, 246.0000005364418, 1);
}
.ei100_19_82_4 { 
	box-shadow:0.5px 0.5px 0px rgba(0, 0, 0, 0.4000000059604645);
	color:rgba(255, 255, 255, 1);
	width:58px;
	height:25px;
	position:absolute;
	left:126px;
	top:16px;
	font-family:Noto Sans;
	text-align:right;
	font-size:18px;
	letter-spacing:0;
}
.e100_23 { 
	width:200px;
	height:200px;
	position:absolute;
	left:1100px;
	top:0px;
}
.e100_24 { 
	width:200px;
	height:200px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei100_24_82_6 { 
	color:rgba(34.00000177323818, 34.00000177323818, 34.00000177323818, 1);
	width:200px;
	height:25px;
	position:absolute;
	left:0px;
	top:208px;
	font-family:Noto Sans;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
.ei100_24_100_38 { 
	color:rgba(152.9862204194069, 153.00000607967377, 152.97469943761826, 1);
	width:200px;
	height:25px;
	position:absolute;
	left:0px;
	top:241px;
	font-family:Noto Sans;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
.ei100_24_98_1 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:200px;
	height:200px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:16px;
	border-top-right-radius:16px;
	border-bottom-left-radius:16px;
	border-bottom-right-radius:16px;
	background-image:url(../images/curso6.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.i100_24_98_1 { 
	border:4px solid rgba(103.0000014603138, 89.00000229477882, 246.0000005364418, 1);
}
.ei100_24_82_4 { 
	box-shadow:0.5px 0.5px 0px rgba(0, 0, 0, 0.4000000059604645);
	color:rgba(255, 255, 255, 1);
	width:58px;
	height:25px;
	position:absolute;
	left:126px;
	top:16px;
	font-family:Noto Sans;
	text-align:right;
	font-size:18px;
	letter-spacing:0;
}
.e108_1 { 
	width:1076px;
	height:200px;
	position:absolute;
	left:225px;
	top:2236px;
}
.e79_254 { 
	width:507px;
	height:507px;
	position:absolute;
	left:0px;
	top:2567px;
}
.e79_253 { 
	background-color:rgba(252.00000017881393, 233.00000131130219, 109.00000110268593, 1);
	width:114.06714630126953px;
	height:107.13525390625px;
	position:absolute;
	left:208.5px;
	top:209.36474609375px;
}
.e79_253 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e79_252 { 
	width:507px;
	height:507px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(../images/02.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e79_164 { 
	background-color:rgba(129.00000751018524, 106.00000128149986, 254.00000005960464, 1);
	width:421px;
	height:70px;
	position:absolute;
	left:545px;
	top:1712px;
	color:rgba(142.00000673532486, 252.00000017881393, 186.0000041127205, 1);
	font-family:Noto Sans;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
	border-top-left-radius:16px;
	border-top-right-radius:16px;
	border-bottom-left-radius:16px;
	border-bottom-right-radius:16px;
	border:2px solid rgb(1, 175, 255);
}
.e79_164:hover { 
	color: rgba(129.00000751018524, 106.00000128149986, 254.00000005960464, 1);
	background-color: white;
}	
.e62_98 { 
	width:15px;
	height:17.4725341796875px;
	position:absolute;
	left:1092px;
	top:33.63226318359375px;
}
.e62_99 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:0.4000000059604645;
	width:15px;
	height:17.4725341796875px;
	position:absolute;
	left:0px;
	top:0px;
}
.e62_100 { 
	width:15px;
	height:17.47271728515625px;
	position:absolute;
	left:962.6611328125px;
	top:139.61212158203125px;
}
.e62_101 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:0.4000000059604645;
	width:15px;
	height:17.47271728515625px;
	position:absolute;
	left:0px;
	top:0px;
}
.e62_103 { 
	width:15px;
	height:17.47265625px;
	position:absolute;
	left:1092px;
	top:87.3941650390625px;
}
.e62_104 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:0.4000000059604645;
	width:15px;
	height:17.47265625px;
	position:absolute;
	left:0px;
	top:0px;
}
.e72_43 { 
	width:70px;
	height:25px;
	position:absolute;
	left:1200px;
	top:1248px;
}
.e68_34 { 
	color:rgba(152.9862204194069, 153.00000607967377, 152.97469943761826, 1);
	width:53px;
	height:25px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Noto Sans;
	text-align:right;
	font-size:18px;
	letter-spacing:0;
}
.e72_42 { 
	border:2px solid rgba(153.00000607967377, 153.00000607967377, 153.00000607967377, 1);
}
.e72_42 { 
	width:9px;
	height:12px;
	position:absolute;
	left:61px;
	top:7px;
}
.e68_36 { 
	color:rgba(0, 0, 0, 1);
	width:350px;
	height:40px;
	position:absolute;
	left:100px;
	top:0px;
	font-family:Noto Sans;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e72_50 { 
	color:rgba(255, 255, 255, 1);
	width:485px;
	height:100px;
	position:absolute;
	left:415px;
	top:117px;
	font-family:Noto Sans;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}
.e79_167 { 
	background-color:rgba(103.0000014603138, 89.00000229477882, 246.0000005364418, 1);
	width:382px;
	height:44px;
	position:absolute;
	left:24px;
	top:1794px;
}
.e62_158 { 
	color:rgba(255, 255, 255, 1);
	width:244px;
	height:44px;
	position:absolute;
	left:129px;
	top:0px;
	font-family:Noto Sans;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}
.e79_168 { 
	background-color:rgba(255, 255, 255, 1);
	width:298px;
	height:44px;
	position:absolute;
	left:44px;
	top:2168px;
}
.e79_169 { 
	color:rgba(142.00000673532486, 252.00000017881393, 186.0000041127205, 1);
	width:83px;
	height:44px;
	position:absolute;
	left:191px;
	top:0px;
	font-family:Noto Sans;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}
.e72_54 { 
	color:rgba(142.00000673532486, 252.00000017881393, 186.0000041127205, 1);
	width:350px;
	height:40px;
	position:absolute;
	left:581px;
	top:1710px;
	font-family:Noto Sans;
	text-align:center;
	font-size:48px;
	letter-spacing:0;
}
.e100_110 { 
	transform: rotate(179.99999499104388deg);
	width:196px;
	height:200px;
	position:absolute;
	left:239px;
	top:2435px;
}
.e134_508 { 
	transform: rotate(179.99999499104388deg);
	width:218px;
	height:201px;
	position:absolute;
	left:261px;
	top:2437px;
}
.ei134_508_62_178 { 
	background-image:linear-gradient(0deg, rgba(255, 255, 255, 1) 0%,rgba(255, 255, 255, 0) 100%) ;
	width:218px;
	height:201px;
	position:absolute;
	left:0px;
	top:0px;
}
.e703_943 { 
	width:1183px;
	height:44px;
	position:absolute;
	left:142px;
	top:853px;
}
.e703_944 { 
	background-color:rgba(129.00000751018524, 106.00000128149986, 254.00000005960464, 1);
	width:201px;
	height:44px;
	position:absolute;
	left:493px;
	top:0px;
}
.e703_945 { 
	color:rgba(142.00000673532486, 252.00000017881393, 186.0000041127205, 1);
	width:1183px;
	height:37px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Noto Sans;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}
.e703_828 { 
	transform: rotate(-1.033680333087792e-14deg);
	width:1185.0001220703125px;
	height:99.00000762939453px;
	position:absolute;
	left:165px;
	top:105vh;
}
.ei703_828_62_178 { 
	background-image:linear-gradient(0deg, rgb(0, 0, 0) -100%,rgb(255, 255, 255) 70%) ;
	width:100vw;
	height:5vh;
	position:absolute;
	left:0px;
	top:115vh;
}
.e703_838 { 
	width:1321px;
	height:724px;
	position:absolute;
	left:100px;
	top:74px;
	background-image:url(../images/image_11.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e703_888 { 
	width:417px;
	height:552px;
	position:absolute;
	left:555px;
	top:931px;
}
.e703_889 { 
	background-color:rgba(255, 255, 255, 1);
	width:417px;
	height:488px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:16px;
	border-top-right-radius:16px;
	border-bottom-left-radius:16px;
	border-bottom-right-radius:16px;
}
.e703_889 { 
	border:2px solid rgba(129.00000751018524, 106.00000128149986, 254.00000005960464, 1);
}
.e703_890 { 
	border-radius:500px;
	width:80px;
	height:80px;
	position:absolute;
	left:32px;
	top:24px;
	background-image:url(../images/curso8.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e703_891 { 
	color:rgba(0, 0, 0, 1);
	width:218px;
	height:24px;
	position:absolute;
	left:126px;
	top:52px;
	font-family:Noto Sans;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e703_892 { 
	width:248px;
	height:24px;
	position:absolute;
	left:32px;
	top:128px;
}
.e703_893 { 
	background-color:rgba(213.00000250339508, 247.00000047683716, 253.0000001192093, 1);
	width:79px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:24px;
	border-top-right-radius:24px;
	border-bottom-left-radius:24px;
	border-bottom-right-radius:24px;
}
.e703_894 { 
	background-color:rgba(218.00000220537186, 216.00000232458115, 251.00000023841858, 1);
	width:78px;
	height:24px;
	position:absolute;
	left:85px;
	top:0px;
	border-top-left-radius:24px;
	border-top-right-radius:24px;
	border-bottom-left-radius:24px;
	border-bottom-right-radius:24px;
}
.e703_895 { 
	background-color:rgba(253.0000001192093, 245.00000059604645, 208.0000028014183, 1);
	width:79px;
	height:24px;
	position:absolute;
	left:169px;
	top:0px;
	border-top-left-radius:24px;
	border-top-right-radius:24px;
	border-bottom-left-radius:24px;
	border-bottom-right-radius:24px;
}
.e703_896 { 
	color:rgba(0, 0, 0, 1);
	width:78px;
	height:14px;
	position:absolute;
	left:0px;
	top:5px;
	font-family:Noto Sans;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
	line-height:px;
}
.e703_897 { 
	color:rgba(0, 0, 0, 1);
	width:78px;
	height:14px;
	position:absolute;
	left:85px;
	top:5px;
	font-family:Noto Sans;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
	line-height:px;
}
.e703_898 { 
	color:rgba(0, 0, 0, 1);
	width:78px;
	height:14px;
	position:absolute;
	left:169px;
	top:5px;
	font-family:Noto Sans;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
	line-height:px;
}
.e703_899 { 
	color:rgba(0, 0, 0, 1);
	width:358px;
	height:336px;
	position:absolute;
	left:32px;
	top:216px;
	font-family:Noto Sans;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:px;
}
.e703_900 { 
	background-color:rgba(129.00000751018524, 106.00000128149986, 254.00000005960464, 1);
	width:358px;
	height:56px;
	position:absolute;
	left:29px;
	top:392px;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
}
.e703_900:hover { 
	border:1px solid rgb(82, 51, 255);
	background-color: white;
	color: rgba(129.00000751018524, 106.00000128149986, 254.00000005960464, 1);
}
.e703_901 { 
	width:358px;
	height:56px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}

.e703_902 { 
	color:rgba(255, 255, 255, 1);
	width:358px;
	height:25px;
	position:absolute;
	left:0px;
	top:16px;
	font-family:Noto Sans;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
.e703_903 { 
	color:rgba(152.9862204194069, 153.00000607967377, 152.97469943761826, 1);
	width:87px;
	height:25px;
	position:absolute;
	left:32px;
	top:168px;
	font-family:Noto Sans;
	text-align:right;
	font-size:18px;
	letter-spacing:0;
}
.e703_904 { 
	width:429px;
	height:539px;
	position:absolute;
	left:125px;
	top:931px;
}
.e703_905 { 
	background-color:rgba(255, 255, 255, 1);
	width:400px;
	height:488px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:16px;
	border-top-right-radius:16px;
	border-bottom-left-radius:16px;
	border-bottom-right-radius:16px;
}
.e703_905 { 
	border:2px solid rgba(129.00000751018524, 106.00000128149986, 254.00000005960464, 1);
}
.e703_906 { 
	border-radius:500px;
	width:80px;
	height:80px;
	position:absolute;
	left:32px;
	top:24px;
	background-image:url(../images/curso9.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e703_907 { 
	color:rgba(0, 0, 0, 1);
	width:218px;
	height:24px;
	position:absolute;
	left:126px;
	top:52px;
	font-family:Noto Sans;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e703_908 { 
	width:248px;
	height:24px;
	position:absolute;
	left:32px;
	top:128px;
}
.e703_909 { 
	background-color:rgba(213.00000250339508, 247.00000047683716, 253.0000001192093, 1);
	width:79px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:24px;
	border-top-right-radius:24px;
	border-bottom-left-radius:24px;
	border-bottom-right-radius:24px;
}
.e703_910 { 
	background-color:rgba(218.00000220537186, 216.00000232458115, 251.00000023841858, 1);
	width:78px;
	height:24px;
	position:absolute;
	left:85px;
	top:0px;
	border-top-left-radius:24px;
	border-top-right-radius:24px;
	border-bottom-left-radius:24px;
	border-bottom-right-radius:24px;
}
.e703_911 { 
	background-color:rgba(253.0000001192093, 245.00000059604645, 208.0000028014183, 1);
	width:79px;
	height:24px;
	position:absolute;
	left:169px;
	top:0px;
	border-top-left-radius:24px;
	border-top-right-radius:24px;
	border-bottom-left-radius:24px;
	border-bottom-right-radius:24px;
}
.e703_912 { 
	color:rgba(0, 0, 0, 1);
	width:78px;
	height:14px;
	position:absolute;
	left:0px;
	top:5px;
	font-family:Noto Sans;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
	line-height:px;
}
.e703_913 { 
	color:rgba(0, 0, 0, 1);
	width:78px;
	height:14px;
	position:absolute;
	left:85px;
	top:5px;
	font-family:Noto Sans;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
	line-height:px;
}
.e703_914 { 
	color:rgba(0, 0, 0, 1);
	width:78px;
	height:14px;
	position:absolute;
	left:169px;
	top:5px;
	font-family:Noto Sans;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
	line-height:px;
}
.e703_915 { 
	color:rgba(0, 0, 0, 1);
	width:358px;
	height:336px;
	position:absolute;
	left:40px;
	top:203px;
	font-family:Noto Sans;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:px;
}
.e703_916 { 
	background-color:rgba(129.00000751018524, 106.00000128149986, 254.00000005960464, 1);
	width:358px;
	height:56px;
	position:absolute;
	left:16px;
	top:392px;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
}
.e703_917 { 
	width:358px;
	height:56px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}
.e703_918 { 
	color:rgba(255, 255, 255, 1);
	width:358px;
	height:25px;
	position:absolute;
	left:0px;
	top:16px;
	font-family:Noto Sans;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
.e703_918:hover{
	color: rgba(129.00000751018524, 106.00000128149986, 254.00000005960464, 1);
}
.e703_919 { 
	color:rgba(152.9862204194069, 153.00000607967377, 152.97469943761826, 1);
	width:70px;
	height:25px;
	position:absolute;
	left:30px;
	top:168px;
	font-family:Noto Sans;
	text-align:right;
	font-size:18px;
	letter-spacing:0;
}
.e703_920 { 
	width:403px;
	height:561px;
	position:absolute;
	left:972px;
	top:931px;
}
.e703_921 { 
	background-color:rgba(255, 255, 255, 1);
	width:403px;
	height:488px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:16px;
	border-top-right-radius:16px;
	border-bottom-left-radius:16px;
	border-bottom-right-radius:16px;
}
.e703_921 { 
	border:2px solid rgba(129.00000751018524, 106.00000128149986, 254.00000005960464, 1);
}
.e703_922 { 
	border-radius:500px;
	width:80px;
	height:80px;
	position:absolute;
	left:48px;
	top:24px;
	background-image:url(../images/curso7.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e703_923 { 
	color:rgba(0, 0, 0, 1);
	width:218px;
	height:24px;
	position:absolute;
	left:142px;
	top:52px;
	font-family:Noto Sans;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e703_924 { 
	width:248px;
	height:24px;
	position:absolute;
	left:48px;
	top:128px;
}
.e703_925 { 
	background-color:rgba(213.00000250339508, 247.00000047683716, 253.0000001192093, 1);
	width:79px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:24px;
	border-top-right-radius:24px;
	border-bottom-left-radius:24px;
	border-bottom-right-radius:24px;
}
.e703_926 { 
	background-color:rgba(218.00000220537186, 216.00000232458115, 251.00000023841858, 1);
	width:78px;
	height:24px;
	position:absolute;
	left:85px;
	top:0px;
	border-top-left-radius:24px;
	border-top-right-radius:24px;
	border-bottom-left-radius:24px;
	border-bottom-right-radius:24px;
}
.e703_927 { 
	background-color:rgba(253.0000001192093, 245.00000059604645, 208.0000028014183, 1);
	width:79px;
	height:24px;
	position:absolute;
	left:169px;
	top:0px;
	border-top-left-radius:24px;
	border-top-right-radius:24px;
	border-bottom-left-radius:24px;
	border-bottom-right-radius:24px;
}
.e703_928 { 
	color:rgba(0, 0, 0, 1);
	width:78px;
	height:14px;
	position:absolute;
	left:0px;
	top:5px;
	font-family:Noto Sans;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
	line-height:px;
}
.e703_929 { 
	color:rgba(0, 0, 0, 1);
	width:78px;
	height:14px;
	position:absolute;
	left:85px;
	top:5px;
	font-family:Noto Sans;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
	line-height:px;
}
.e703_930 { 
	color:rgba(0, 0, 0, 1);
	width:78px;
	height:14px;
	position:absolute;
	left:169px;
	top:5px;
	font-family:Noto Sans;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
	line-height:px;
}
.e703_931 { 
	color:rgba(0, 0, 0, 1);
	width:358px;
	height:336px;
	position:absolute;
	left:32px;
	top:225px;
	font-family:Noto Sans;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:px;
}
.e703_932 { 
	background-color:rgba(129.00000751018524, 106.00000128149986, 254.00000005960464, 1);
	width:358px;
	height:56px;
	position:absolute;
	left:32px;
	top:393px;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
}
.e703_933 { 
	width:358px;
	height:56px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}
.e703_934 { 
	color:rgba(255, 255, 255, 1);
	width:358px;
	height:25px;
	position:absolute;
	left:0px;
	top:16px;
	font-family:Noto Sans;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
.e703_935 { 
	color:rgba(152.9862204194069, 153.00000607967377, 152.97469943761826, 1);
	width:52px;
	height:25px;
	position:absolute;
	left:54px;
	top:168px;
	font-family:Noto Sans;
	text-align:right;
	font-size:18px;
	letter-spacing:0;
}
.e707_394 { 
	width:100px;
	height:100px;
	position:absolute;
	left:1174px;
	top:2038px;
}
.e100_61 { 
	width:1080px;
	height:200px;
	position:absolute;
	left:239px;
	top:2272px;
}
.e100_62 { 
	width:200px;
	height:200px;
	position:absolute;
	left:0px;
	top:0px;
}
.e100_63 { 
	width:200px;
	height:200px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei100_63_82_6 { 
	color:rgba(34.00000177323818, 34.00000177323818, 34.00000177323818, 1);
	width:200px;
	height:25px;
	position:absolute;
	left:0px;
	top:208px;
	font-family:Noto Sans;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
.ei100_63_100_38 { 
	color:rgba(152.9862204194069, 153.00000607967377, 152.97469943761826, 1);
	width:200px;
	height:25px;
	position:absolute;
	left:0px;
	top:241px;
	font-family:Noto Sans;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
.ei100_63_98_1 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:200px;
	height:200px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:16px;
	border-top-right-radius:16px;
	border-bottom-left-radius:16px;
	border-bottom-right-radius:16px;
	background-image:url(../images/curso10.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.i100_63_98_1 { 
	border:4px solid rgba(103.0000014603138, 89.00000229477882, 246.0000005364418, 1);
}
.ei100_63_82_4 { 
	box-shadow:0.5px 0.5px 0px rgba(0, 0, 0, 0.4000000059604645);
	color:rgba(255, 255, 255, 1);
	width:58px;
	height:25px;
	position:absolute;
	left:126px;
	top:16px;
	font-family:Noto Sans;
	text-align:right;
	font-size:18px;
	letter-spacing:0;
}
.e100_64 { 
	width:200px;
	height:200px;
	position:absolute;
	left:220px;
	top:0px;
}
.e100_65 { 
	width:200px;
	height:200px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei100_65_82_6 { 
	color:rgba(34.00000177323818, 34.00000177323818, 34.00000177323818, 1);
	width:200px;
	height:25px;
	position:absolute;
	left:0px;
	top:208px;
	font-family:Noto Sans;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
.ei100_65_100_38 { 
	color:rgba(152.9862204194069, 153.00000607967377, 152.97469943761826, 1);
	width:200px;
	height:25px;
	position:absolute;
	left:0px;
	top:241px;
	font-family:Noto Sans;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
.ei100_65_98_1 { 
	background-image:url(../images/curso11.png);
	width:200px;
	height:200px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:16px;
	border-top-right-radius:16px;
	border-bottom-left-radius:16px;
	border-bottom-right-radius:16px;
	background-repeat:no-repeat;
	background-size:cover;
}
.i100_65_98_1 { 
	border:4px solid rgba(103.0000014603138, 89.00000229477882, 246.0000005364418, 1);
}
.ei100_65_82_4 { 
	box-shadow:0.5px 0.5px 0px rgba(0, 0, 0, 0.4000000059604645);
	color:rgba(255, 255, 255, 1);
	width:58px;
	height:25px;
	position:absolute;
	left:126px;
	top:16px;
	font-family:Noto Sans;
	text-align:right;
	font-size:18px;
	letter-spacing:0;
}
.e100_66 { 
	width:200px;
	height:200px;
	position:absolute;
	left:440px;
	top:0px;
}
.e100_67 { 
	width:200px;
	height:200px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei100_67_82_6 { 
	color:rgba(34.00000177323818, 34.00000177323818, 34.00000177323818, 1);
	width:200px;
	height:25px;
	position:absolute;
	left:0px;
	top:208px;
	font-family:Noto Sans;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
.ei100_67_100_38 { 
	color:rgba(152.9862204194069, 153.00000607967377, 152.97469943761826, 1);
	width:200px;
	height:25px;
	position:absolute;
	left:0px;
	top:241px;
	font-family:Noto Sans;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
.i100_67_98_1 { 
	border:4px solid rgba(103.0000014603138, 89.00000229477882, 246.0000005364418, 1);
}
.ei100_67_98_1 { 
	width:200px;
	height:200px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:16px;
	border-top-right-radius:16px;
	border-bottom-left-radius:16px;
	border-bottom-right-radius:16px;
	background-image:url(../images/curso12.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.ei100_67_82_4 { 
	box-shadow:0.5px 0.5px 0px rgba(0, 0, 0, 0.4000000059604645);
	color:rgba(255, 255, 255, 1);
	width:54px;
	height:25px;
	position:absolute;
	left:130px;
	top:16px;
	font-family:Noto Sans;
	text-align:right;
	font-size:18px;
	letter-spacing:0;
}
.e108_14 { 
	width:200px;
	height:200px;
	position:absolute;
	left:660px;
	top:0px;
}
.e108_15 { 
	width:200px;
	height:200px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei108_15_82_6 { 
	color:rgba(34.00000177323818, 34.00000177323818, 34.00000177323818, 1);
	width:200px;
	height:25px;
	position:absolute;
	left:0px;
	top:208px;
	font-family:Noto Sans;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
.ei108_15_100_38 { 
	color:rgba(152.9862204194069, 153.00000607967377, 152.97469943761826, 1);
	width:200px;
	height:25px;
	position:absolute;
	left:0px;
	top:241px;
	font-family:Noto Sans;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
.ei108_15_98_1 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:200px;
	height:200px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:16px;
	border-top-right-radius:16px;
	border-bottom-left-radius:16px;
	border-bottom-right-radius:16px;
	background-image:url(../images/curso13.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.i108_15_98_1 { 
	border:4px solid rgba(103.0000014603138, 89.00000229477882, 246.0000005364418, 1);
}
.ei108_15_82_4 { 
	box-shadow:0.5px 0.5px 0px rgba(0, 0, 0, 0.4000000059604645);
	color:rgba(255, 255, 255, 1);
	width:54px;
	height:25px;
	position:absolute;
	left:130px;
	top:16px;
	font-family:Noto Sans;
	text-align:right;
	font-size:18px;
	letter-spacing:0;
}
.e108_2 { 
	width:200px;
	height:200px;
	position:absolute;
	left:880px;
	top:0px;
}
.e108_3 { 
	width:200px;
	height:200px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei108_3_82_6 { 
	color:rgba(34.00000177323818, 34.00000177323818, 34.00000177323818, 1);
	width:200px;
	height:25px;
	position:absolute;
	left:0px;
	top:208px;
	font-family:Noto Sans;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
.ei108_3_100_38 { 
	color:rgba(152.9862204194069, 153.00000607967377, 152.97469943761826, 1);
	width:200px;
	height:25px;
	position:absolute;
	left:0px;
	top:241px;
	font-family:Noto Sans;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
.ei108_3_98_1 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:200px;
	height:200px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:16px;
	border-top-right-radius:16px;
	border-bottom-left-radius:16px;
	border-bottom-right-radius:16px;
	background-image:url(../images/curso14.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.i108_3_98_1 { 
	border:4px solid rgba(103.0000014603138, 89.00000229477882, 246.0000005364418, 1);
}
.ei108_3_82_4 { 
	box-shadow:0.5px 0.5px 0px rgba(0, 0, 0, 0.4000000059604645);
	color:rgba(255, 255, 255, 1);
	width:58px;
	height:25px;
	position:absolute;
	left:126px;
	top:16px;
	font-family:Noto Sans;
	text-align:right;
	font-size:18px;
	letter-spacing:0;
}
/*Frame para video*/
.curso{
	position: absolute;
	left: 30vw;
	top: 70vh;
}
/*Estilo de las ventanas modales*/
.e893_1056 { 
	overflow:hidden;
}
.e893_1056 { 
	width:425px;
	height:760px;
	position:absolute;
}
.e703_664 { 
	width:422px;
	height:240px;
	position:absolute;
	left:0px;
	top:0px;
}
.e703_665 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	background-image:url(../images/rectangle_282.png);
	width:422px;
	height:240px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:16px;
	border-top-right-radius:16px;
	border-bottom-left-radius:16px;
	border-bottom-right-radius:16px;
	background-repeat:no-repeat;
	background-size:cover;
}
.e893_1104 { 
	width:51px;
	height:50px;
	position:absolute;
	left:353px;
	top:13px;
	background-image:url(../images/play_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e703_669 { 
	color:rgba(255, 255, 255, 1);
	width:387px;
	height:96px;
	position:absolute;
	left:12px;
	top:71px;
	font-family:Abhaya Libre;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e703_670 { 
	color:rgba(255, 255, 255, 1);
	width:150px;
	height:30px;
	position:absolute;
	left:29px;
	top:8px;
	font-family:Noto Sans;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e703_671 { 
	color:rgba(255, 255, 255, 1);
	width:110px;
	height:30px;
	position:absolute;
	left:40px;
	top:210px;
	font-family:Noto Sans;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e703_672 { 
	color:rgba(255, 255, 255, 1);
	width:165px;
	height:30px;
	position:absolute;
	left:158px;
	top:210px;
	font-family:Noto Sans;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e703_689 { 
	width:425px;
	height:350px;
	position:absolute;
	left:0px;
	top:240px;
}
.e703_690 { 
	background-color:rgba(255, 255, 255, 1);
	width:425px;
	height:inherit;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:16px;
	border-top-right-radius:16px;
	border-bottom-left-radius:16px;
	border-bottom-right-radius:16px;
}
.e703_690 { 
	border:2px solid rgba(129.00000751018524, 106.00000128149986, 254.00000005960464, 1);
}
.e703_692 { 
	color:rgba(0, 0, 0, 1);
	width:219.5497589111328px;
	height:18.795181274414062px;
	position:absolute;
	left:128.9091796875px;
	top:40.722900390625px;
	font-family:Noto Sans;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e703_693 { 
	width:253.7916259765625px;
	height:18.795183181762695px;
	position:absolute;
	left:32.2275390625px;
	top:100.240966796875px;
}
.e703_694 { 
	background-color:rgba(213.00000250339508, 247.00000047683716, 253.0000001192093, 1);
	width:79.56161499023438px;
	height:18.795181274414062px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:24px;
	border-top-right-radius:24px;
	border-bottom-left-radius:24px;
	border-bottom-right-radius:24px;
}
.e703_695 { 
	background-color:rgba(218.00000220537186, 216.00000232458115, 251.00000023841858, 1);
	width:78.55450439453125px;
	height:18.795181274414062px;
	position:absolute;
	left:87.6181640625px;
	top:0px;
	border-top-left-radius:24px;
	border-top-right-radius:24px;
	border-bottom-left-radius:24px;
	border-bottom-right-radius:24px;
}
.e703_696 { 
	background-color:rgba(253.0000001192093, 245.00000059604645, 208.0000028014183, 1);
	width:79.56161499023438px;
	height:18.795181274414062px;
	position:absolute;
	left:174.23046875px;
	top:0px;
	border-top-left-radius:24px;
	border-top-right-radius:24px;
	border-bottom-left-radius:24px;
	border-bottom-right-radius:24px;
}
.e703_697 { 
	color:rgba(0, 0, 0, 1);
	width:78.55450439453125px;
	height:10.963854789733887px;
	position:absolute;
	left:0px;
	top:2.9156494140625px;
	font-family:Noto Sans;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
	line-height:px;
}
.e703_698 { 
	color:rgba(0, 0, 0, 1);
	width:78.55450439453125px;
	height:10.963854789733887px;
	position:absolute;
	left:87.6181640625px;
	top:2.9156494140625px;
	font-family:Noto Sans;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
	line-height:px;
}
.e703_699 { 
	color:rgba(0, 0, 0, 1);
	width:78.55450439453125px;
	height:10.963854789733887px;
	position:absolute;
	left:174.23046875px;
	top:2.9156494140625px;
	font-family:Noto Sans;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
	line-height:px;
}
.e703_700 { 
	color:rgba(0, 0, 0, 1);
	width:360.5450439453125px;
	height:263.1325378417969px;
	position:absolute;
	left:32.2275390625px;
	top:157.40966796875px;
	font-family:Noto Sans;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:px;
}
.e703_704 { 
	color:rgba(152.9862204194069, 153.00000607967377, 152.97469943761826, 1);
	width:58.412322998046875px;
	height:19.578311920166016px;
	position:absolute;
	left:120px;
	top:64px;
	font-family:Noto Sans;
	text-align:right;
	font-size:18px;
	letter-spacing:0;
}
.e703_706 { 
	width:93px;
	height:84px;
	position:absolute;
	left:21px;
	top:248px;
	border-top-left-radius:63px;
	border-top-right-radius:63px;
	border-bottom-left-radius:63px;
	border-bottom-right-radius:63px;
	background-image:url(../images/belmont.png);
	background-repeat:no-repeat;
	background-size:cover;
}
