<!DOCTYPE html>

<html>

<head>
	<title>Inicio</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet">
	<link href="../estilos/estilos.css" rel="stylesheet" type="text/css">
	<link href="../estilos/footer.css" rel="stylesheet" type="text/css">
	<link href="../estilos/ayudaUser.css" rel="stylesheet" type="text/css">
	<link href="../estilos/usuario.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	
</head>

<body>
	<!--Header -->
	<%- include('headerUser') %>
<div class=e910_225>
	<div class=e16_4428>
	  <div class="e16_4425"></div>
	</div>
	<div class="e16_519"></div><span  class="e16_64">Contáctanos para cualquier duda que tengas.</span>
	<div class=e16_4394>
	  <div class="e16_7"></div>
	  <div class="e16_4396"></div><span  class="e16_158">¿Necesitas ayuda? ¡Estamos para ti!</span>
	</div>
	<div class=e16_538>
	  <div class="e16_539"></div>
	</div><span  class="e16_540">servicio.social.ccm</span>
	<div class=e16_542>
	  <div class="e16_543"></div>
	</div><span  class="e16_544">ayuda.tec</span>
	<div class=e16_546>
	  <div class="e16_547"></div>
	</div><span  class="e16_548">punto.azul.ccm</span>
	<div class=e16_4430>
	  <div class="e16_4431"></div>
	  <div class="e16_4429"></div>
	  <div class="e16_4426"></div>
	</div><span  class="e16_494">Números telefónicos</span>
	<div class="e16_497"></div><span  class="e16_501">ConectaTEC CCM</span><span  class="e16_502">Líneas oficiales</span>
	<div class=e16_504>
	  <div class="e16_505"></div>
	</div><span  class="e16_506">5556284439</span>
	<div class=e16_508>
	  <div class="e16_509"></div>
	</div><span  class="e16_510">5556289080</span>
	<div class=e16_512>
	  <div class="e16_513"></div>
	</div><span  class="e16_514">5546281020</span><span  class="e16_516">ID Institucionales</span><span  class="e16_523">ZOOM</span><span  class="e16_524">Salas de información y ayuda</span><span  class="e16_4644">Ingresa con tu cuenta institucional</span>
	<div class=e16_526>
	  <div class="e16_527"></div>
	</div><span  class="e16_528">944-3490-2090</span>
	<div class=e16_530>
	  <div class="e16_531"></div>
	</div><span  class="e16_532">890-3450-0011</span>
	<div class=e16_534>
	  <div class="e16_535"></div>
	</div><span  class="e16_536">350-1044-2000</span>
	<div class=e16_4417>
	  <div class="e16_4418"></div><span  class="e16_4419">Lu - Vi de 8:00 a 18:00 hrs</span>
	</div>
	<div class=e16_4420>
	  <div class="e16_4421"></div><span  class="e16_4422">Lu-Sa 24Hrs</span>
	</div>
	<div class=e16_33>
	  <div class="e16_34"></div><span  class="e16_35">ayudaservicio@tec.mx</span>
	</div>
	<div class=e705_396>
	  <div class="e705_397"></div><span  class="e705_398">Consulta Estatus de Servicio</span>
	</div>
	<div class="e703_353"></div>
  </div>
  
</body>

	<!--Header -->
	<%- include('footer') %>
</html>