<!DOCTYPE html>

<html>

<head>
    <title>Estatus Servicio</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../estilos/eservicio.css" rel="stylesheet" type="text/css">
    <link href="../estilos/estilos.css" rel="stylesheet" type="text/css">
    <link href="../estilos/footer.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>


<body>
    <div class="e924_629">
        <span class="e923_611">Matrícula</span><span class="e923_613">Periodo</span><span class="e923_612">A01657025</span><span class="e923_620">520 de 480</span><span class="e923_609">Bienvenido Pedro Demián Godínez Cruz</span>
        <span class="e923_610">Servicio social acreditado</span><span class="e923_615">Estatus Académico</span><span class="e923_618">Horas Acreditadas de Servicio Social</span><span class="e923_621">Servicio Social Ciudadano</span>
        <span class="e923_623">Servicio Social Profesional</span><span class="e923_622">520 Hrs</span><span class="e923_624">0 Hrs</span><span class="e923_614">Agosto - Diciembre 2021</span><span class="e923_617">Alumno Regular</span>
        <div class="e923_619"></div>
        <div class="e923_625"></div>
        <div class="e923_626"></div>
        <span class="e923_627">
            Aviso General<br />
            <br />

            Bienvenid@ al nuevo Módulo de Servicio Social SIASS 4.0 donde podrás ver el avance de tu servicio social a través del Historial, ver la oferta de los proyectos en los cuales te puedes inscribir y poder aportar tus conocimientos
            en conjunto con la Organización para resolver una problemática social, y estar informado de los eventos que dé a conocer el responsable de Servicio social, éxito en este periodo.
        </span>
    </div>
</body>
<!--Footer -->
<%- include('footer') %>

</html>