<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../estilos/footer.css" rel="stylesheet" type="text/css">
    <link href="../estilos/explora.css" rel="stylesheet" type="text/css">
    <link href="../estilos/estilos.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Abhaya+Libre&display=swap" rel="stylesheet">
    <title>Cursos</title>
</head>
<body class="busqueda-fondo">
    <div class=e811_2131>
		<div class="e2_7571"></div>
        <div class="e702_3231"></div>
		<!--Header -->
	<%- include('header') %>
	</div>
    <div class="frase">Busca el contenido que <div class="cambio">más te guste.</div></div>
    <div class="ver-todas">
        <input class="barra" type="text" placeholder="Buscar...">
        <a href="#" class="boton boton-verde">SUBIR CURSO</a>
        <br>
    </div>
    <div class="hash">
        <p>#arquitectura #periodismo #arte #fotografia #programacion</p>
    </div>
    <div>
        <div class=e914_390><div class=e914_391><div  class="e914_392"></div><div  class="e914_393"></div></div><div class=e914_394><div  class="e914_395"></div><div  class="e914_396"></div><div  class="e914_397"></div><div  class="e914_398"></div><div  class="e914_399"></div></div><div class=e914_402><div  class="e914_403"></div><div  class="e914_404"></div><div  class="e914_405"></div></div><div class=e914_406><div  class="e914_407"></div><div  class="e914_408"></div><div  class="e914_409"></div><div  class="e914_410"></div></div><div  class="e914_411"></div><span  class="e914_412">Desarrollo Personal</span><span  class="e914_413">Cultura</span><span  class="e914_414">Otros</span><div class="e914_418"></div><div  class="e914_419"></div><div  class="e914_420"></div><div  class="e914_421"></div><div  class="e914_422"></div><div  class="e914_423"></div><div  class="e914_424"></div><div  class="e914_425"></div><div  class="e914_426"></div><div  class="e914_428"></div><div class=e914_429><div  class="ei914_429_62_178"></div></div><div class=e914_430><div  class="ei914_430_62_178"></div></div><div class=e914_431><div  class="ei914_431_62_178"></div><div class=ei914_431_134_485><div  class="ei914_431_134_483"></div></div></div>

        <div class="Holla">
            <div class=e957_245><div class=e66_60><div  class="e66_61"></div><div  class="e66_62"></div><div  class="e66_63"></div><div  class="e66_64"></div><div  class="e66_65"></div><div class=e66_66><div  class="e66_67"></div><span  class="e66_68">CURSOS SUBIDOS RECIENTEMENTE</span></div><div class=e66_69><span  class="e66_70">Utiliza y combina datos a tu favor para la resolución de problemas.
            </span><span  class="e66_71">IA y MÁS.
            </span><span  class="e66_72">20 min</span></div><div class=e66_73><span  class="e66_74">Descubre el arte de la fotografía a través de historias contadas por imágenes y mucho más.
            </span><span  class="e66_75">Fotografía II. 
            </span><span  class="e66_76">10 min</span></div><div class=e66_77><span  class="e66_78">Pon manos a la obra a esa idea y desarróllala de la mano de nuestros expertos.</span><span  class="e66_79">Emprende fácil. 
            </span><span  class="e66_80">23 min</span></div><div class=e66_81><span  class="e66_82">Amplia tu conocimiento y diviértete mientras aprendes algo de cine y cultura.
            </span><span  class="e66_83">Cine y cultura.</span><span  class="e66_84">47 min</span></div><div class=e66_85><span  class="e66_86">Explota tu creatividad al máximo. Conoce las técnicas infalibles para el diseño.
            </span><span  class="e66_87">Photoshop basico. 
            </span><span  class="e66_88">15 min</span></div></div></div>
        </div>
    </div>
    
</body>
    <!--Footer -->
<%- include('footer') %>
</html>