<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../estilos/footer.css" rel="stylesheet" type="text/css">
    <link href="../estilos/explora.css" rel="stylesheet" type="text/css">
    <link href="../estilos/estilos.css" rel="stylesheet" type="text/css">
	<link href="../estilos/usuario.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Abhaya+Libre&display=swap" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <title>Explorar Cursos</title>
</head>
<!--Header -->
<%- include('headerUser') %>
<div class=e1003_253>
	<div class=e41_103>
	  <div class="e1003_251"></div>
	</div>
	<div class=e41_101>
	  <div class="e41_100"></div>
	  <div class="e22_235"></div>
	</div>
	<div class=e22_120>
	  <div class="e22_121"></div>
	</div>
	<div class=e24_14>
	  <div class="e24_15"></div>
	</div><span  class="e22_122">Save your favorites</span>
	<div class=e22_123>
	  <div class="e22_124"></div>
	</div><span  class="e22_125">Create collections</span>
	<div class=e22_126>
	  <div class="e22_127"></div>
	</div><span  class="e22_128">Contact  with other users</span><span  class="e24_16">30% off by purchasing now</span>
	<div class=e22_252>
	  <div class="e22_246"></div>
	  <div class="e22_251"></div>
	  <div class="e22_254"></div>
	  <div class="e22_255"></div>
	  <div class="e22_256"></div>
	  <div class="e22_257"></div>
	  <div class="e22_258"></div>
	  <div class="e22_259"></div>
	  <div class=e94_0>
		<div class="e94_1"></div>
	  </div>
	</div>
	<div class=e24_6>
	  <div class="e24_0"></div>
	  <div class="e24_1"></div>
	  <div class="e24_3"></div>
	  <div class="e24_4"></div>
	</div><span  class="e41_94">Cocina integral</span><span  class="e41_96">Giselle Molina</span>
	<div class=e24_7>
	  <div class="e24_8"></div>
	  <div class="e24_9"></div>
	  <div class="e24_10"></div>
	</div>
	<div class=e24_17>
	  <div class="e24_18"></div>
	  <div class="e24_19"></div>
	  <div class="e24_20"></div>
	  <div class="e24_21"></div>
	</div>
	<div class="e703_342"></div><span  class="e24_2">Desarrollo Personal</span><span  class="e24_24">FAVORITOS</span><span  class="e24_13">Cultura</span><span  class="e24_23">Otros</span>
	<div class=e54_18>
	  <div class=e41_15>
		<div class="e41_13"></div>
		<div class="e41_14"></div>
	  </div><span  class="e41_16">Visto hace 4 días</span>
	</div>
	<div class=e41_99>
	  <div class="e41_97"></div>
	</div>
	<div class=e957_245>
	  <div class=e66_60>
		<div class="e66_61"></div>
		<div class="e66_62"></div>
		<div class="e66_63"></div>
		<div class="e66_64"></div>
		<div class="e66_65"></div>
		<div class=e66_66>
		  <div class="e66_67"></div><span  class="e66_68">CURSOS SUBIDOS RECIENTEMENTE</span>
		</div>
		<div class=e66_69><span  class="e66_70">Utiliza y combina datos a tu favor para la resolución de problemas.
  </span><span  class="e66_71">IA y más
  </span><span  class="e66_72">20 min</span></div>
		<div class=e66_73><span  class="e66_74">Descubre el arte de la fotografía a través de historias contadas por imágenes y mucho más.
  </span><span  class="e66_75">Fotografía II 
  </span><span  class="e66_76">10 min</span></div>
		<div class=e66_77><span  class="e66_78">Pon manos a la obra a esa idea y desarróllala de la mano de nuestros expertos.</span><span  class="e66_79">Emprende fácil 
  </span><span  class="e66_80">23 min</span></div>
		<div class=e66_81><span  class="e66_82">Amplia tu conocimiento y diviértete mientras aprendes algo de cine y cultura.
  </span><span  class="e66_83">Cine y cultura</span><span  class="e66_84">47 min</span></div>
		<div class=e66_85><span  class="e66_86">Explota tu creatividad al máximo. Conoce las técnicas infalibles para el diseño.
  </span><span  class="e66_87">Photoshop basico 
  </span><span  class="e66_88">15 min</span></div>
	  </div>
	</div>
	<div class="e702_338"></div>
	<div class=e22_247>
	  <input type="text" class="e22_226" placeholder="Busca por arte, música, cultura..."></input>
	</div>
	<div class=e932_250>
	  <div class=e22_233>
		<div class="e22_75"></div><span  class="e22_77">Busca el contenido que más te guste</span>
	  </div>
	</div>
	<div class=e22_241><span  class="e22_240">#arquitectura</span><span  class="e22_242">#periodismo</span><span  class="e22_243">#arte</span><span  class="e22_244">#fotografía</span><span  class="e707_313">#programación</span></div>
	<div class=e705_379>
	  <div class="e705_380"></div><a  class="e705_381" style="text-decoration: none;" href="/subirCurso/<%= usuarios.correo %>">SUBIR CURSO</a>
	</div>
	<div class=e22_61>
	  <div class=e22_63>
		<div class=e22_64>
		  <div class="e22_65"></div>
		</div>
	  </div>
	</div>
  </div>


    <!--Footer -->
<%- include('footer') %>
</html>