<header>
	<div style="display: block;">
	<div class=e2_695 ><span class="e2_696"><a href="/" class="button" style="z-index: 10;">Inicio</a></span><span class="e2_697">
		<a href="/" class="button" style="z-index: 10;">Cursos</a></span><span
			class="e2_698"><a href="/" class="button" style="z-index: 10;">Ayuda</a></span>
	</div>
	<div class=e7_44>
		<div class=e2_699>
			<div class="e2_700"></div><span class="e2_701"><a href="/registrate" class="button" style="color: blueviolet;">Registar</a></span>
		</div><span class="e7_41" hr><a href="/iniciarSesion" style="color: white;">Iniciar Sesion</a></span>
	</div>
</div>
</header>