<header>
	<div style="display: block; z-index: 2;">
	<div class=e2_695><span class="e2_696">Inicio</span><span class="e2_697">Cursos</span><span
			class="e2_698">Ayuda</span>
	</div>
	<div class=e7_44>
		<div class=e2_699>
			<div class="e2_700"></div><span class="e2_701"><a href="/registrarUsuario">Registar</a></span>
		</div><span class="e7_41">Iniciar Sesion</span>
	</div>
</div>
</header>