<header>
<div class="e883_971">
	<div class=e883_972><span  class="e883_973"><%= usuarios.nombre %> </span><span  class="e883_974">Estudiante</span>
	  
	  <div class="e883_977"></div>
	  <div class="e883_986"></div>
	</div>
	<div class=e883_987><span  class="e883_988">Favoritos</span></div>
	<div class=e883_1002><span  class="e883_1003">Salir</span></div>
  </div>
</header>