<!DOCTYPE html>

<html>

<head>
	<title>Inicio</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet">
	<link href="../estilos/estilos.css" rel="stylesheet" type="text/css">
	<link href="../estilos/footer.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
	<div class=e811_213>
		<div class="e2_757"></div>
		<div class="e702_323"></div>
		<div class="e702_327"></div><span class="e702_329">Aprende, crea y acredita</span><span class="e702_330">¡EN UN
			MISMO LUGAR!</span>
		<div class=e702_331>
			<div class="e702_332"></div><span class="e702_333">Explora cursos disponibles</span>
		</div>
		<div class=e2_695><span class="e2_696">Inicio</span><span class="e2_697">Cursos</span><span
				class="e2_698">Ayuda</span></div>
		<div class=e7_44>
			<div class=e2_699>
				<div class="e2_700"></div><span class="e2_701">Registar</span>
			</div><span class="e7_41">Iniciar Sesion</span>
		</div>
		<div class=e2_705>
			<div class=e2_707>
				<div class=e2_708>
					<div class="e2_709"></div>
				</div>
			</div>
		</div>
	</div>
	
</body>
<footer>
	<!--Footer -->
	<%- include('footer') %>
</footer>

</html>