<!DOCTYPE html>

<html>

<head>
	<title>Inicio</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet">
	<link href="../estilos/estilos.css" rel="stylesheet" type="text/css">
	<link href="../estilos/footer.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
	<div class=e811_213>
		<div class="e2_757"></div>
		<div class="e702_323"></div>
		<div class="e702_327"></div><span class="e702_329">Aprende, crea y acredita</span><span class="e702_330">¡EN UN
			MISMO LUGAR!</span>
		<div class=e702_331>
			<div class="e702_332"></div><span class="e702_333">Explora cursos disponibles</span>
		</div>
		<!--Header -->
	<%- include('header') %>
	</div>
	<div class=e824_675>
		<div class="e824_602"></div><span  class="e824_632">¡Crea contenido en lo que  más te interese!</span><span  class="e824_633">Tu imaginación es el límite, diseña, crea, construye, aprende y diviértete.</span>
	  </div>
	<div class=e824_669>
		<div class=e824_603>
		  <div class=ei824_603_7_51>
			<div class="ei824_603_7_52"></div>
		  </div><span  class="ei824_603_7_53">Textiles deportivos</span><span  class="ei824_603_7_54">Deportes- Por: Juan Medina</span>
		</div>
		<div class=e824_604>
		  <div class=ei824_604_7_51>
			<div class="ei824_604_7_52"></div>
		  </div><span  class="ei824_604_7_53">Materiales del futuro</span><span  class="ei824_604_7_54">Por: Karla Ruiz</span>
		</div>
		<div class=e824_605>
		  <div class=ei824_605_7_51>
			<div class="ei824_605_7_52"></div>
		  </div><span  class="ei824_605_7_53">¿Qué tan peligroso es el periodismo?</span><span  class="ei824_605_7_54">Cultura-Por: Oscar Belmont</span>
		</div>
		<div class=e824_606>
		  <div class=ei824_606_7_51>
			<div class="ei824_606_7_52"></div>
		  </div><span  class="ei824_606_7_53">Arte moderno vs Arte clasico</span><span  class="ei824_606_7_54">Arte- Por: Karla Ruiz</span>
		</div>
		<div class=e824_607>
		  <div class=ei824_607_7_51>
			<div class="ei824_607_7_52"></div>
		  </div><span  class="ei824_607_7_53">K Pop en 2021</span><span  class="ei824_607_7_54">Musica-Por: Demian Cruz</span>
		</div>
		<div class=e824_608>
		  <div class=ei824_608_7_51>
			<div class="ei824_608_7_52"></div>
		  </div><span  class="ei824_608_7_53">Fotografía para paisajes</span><span  class="ei824_608_7_54">Foto-Por: Fernanda Parra</span>
		</div>
		<div class=e824_609>
		  <div class=ei824_609_7_51>
			<div class="ei824_609_7_52"></div>
		  </div><span  class="ei824_609_7_53">Inteligencia Artificial y más</span><span  class="ei824_609_7_54">Tecnologia-Por: Demian Cruz</span>
		</div>
	  </div>
	  <div class=e825_676>
		<div class=e824_598><span  class="e824_600">Explorar más</span></div>
	  </div>
	  <div class=e824_487>
		<div class="e824_489"></div><span  class="e824_471">¡Queremos</span><span  class="e824_472">Escucharte!</span>
		<div class="e824_485"></div>
		<div class="e824_486"></div><span  class="e824_490">Ingresa desde MiTec Beta para tener saber más sobre el programa y mandarnos tu opinión.</span>
	  </div>
</body>

	<!--Footer -->
	<%- include('footer') %>


</html>