<!DOCTYPE html>

<html>

<head>
	<title>Inicio de Sesion</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="../estilos/registro.css" rel="stylesheet" type="text/css">
	<link href="../estilos/estilos.css" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet">
	<link href="../estilos/inicioSesion.css" rel="stylesheet" type="text/css">
	<link href="../estilos/footer.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
	<div class=e835_750 style="background-color:rgba(129.00000751018524, 106.00000128149986, 254.00000005960464, 1);">
		<%- include('header') %>
	</div>
				<div class="e55_151"></div>
				<div class=e55_247>
					<div class="e7_31"></div>
				</div>
				<div class="e703_352"></div>
				<!--Section formulario-->
				<form action="autorizar" method="get">
				<div class=e855_919>
					<div class="e855_918"></div>
					<div class=e854_875>
					  <div><span  class="e854_879">
						  <input class="e854_877"  type="submit" value="Iniciar" /></span>
					</div>
					<span  class="e854_880">¿Aun no tienes cuenta? <a href="/registrarUsuario">Crea una nueva cuenta</a></span>
					  <span  class="e854_881">Iniciar Sesión</span>
					  <div class=e854_882>
						<div class=e854_883>
							<input autoComplete="off" class="e854_884" name="Email" placeholder="Email" type="email" required="True"></input>
						  </div><span  class="e854_886">Correo institucional</span>
						<div class=e854_887>
							<input autoComplete="off" class="e854_888" name="contrasenia" placeholder="Contraseña" type="password" required="True"></input>
						  <span  class="e854_891">Contraseña</span>
						</div>
					  </div><span  class="e854_892">¿Olvidaste tu contraseña?</span>
					  <div class=e854_893>
						<div class="e854_894">
						</div>
						<!--<div class=e814_396>
							<div class="fa fa-facebook">
							</div>
						  </div> -->
						<div class="e854_895"></div>
						<div class="e854_896"></div>
						<div class=e854_897>
						</div>
						<div class="e854_899"></div>
						<div class=e854_900>
							
						</div>
						<div class=e854_902>	
					  </div>
					  <div class=e854_909><span  class="e854_910">O</span>
						<div class="e854_911"></div>
						<div class="e854_912"></div>
					  </div>
					</div>
				  </div>
				</form>
</body>

</html>