<!DOCTYPE html>

<html>

<head>
	<title>Inicio</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Abhaya+Libre&display=swap" rel="stylesheet">
	<link href="../estilos/vsubido.css" rel="stylesheet" type="text/css">
	<link href="../estilos/estilos.css" rel="stylesheet" type="text/css">
	<link href="../estilos/footer.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>

	<div class=e914_389>
		<div class=e914_227>
			<div class="e914_228"></div>
			<div class="e914_229"></div>
		</div>
		<div class=e914_240>
			<div class="e914_241"></div>
			<div class="e914_242"></div>
			<div class="e914_243"></div>
			<div class="e914_244"></div>
			<div class="e914_245"></div>
		</div><span class="e914_246">Cocina integral</span><span class="e914_247">Giselle Molina</span>
		<div class=e914_248>
			<div class="e914_249"></div>
			<div class="e914_250"></div>
			<div class="e914_251"></div>
		</div>
		<div class=e914_253>
			<div class="e914_254"></div>
			<div class="e914_255"></div>
			<div class="e914_256"></div>
			<div class="e914_257"></div>
		</div>
		<div class="e914_258"></div><span class="e914_259">Desarrollo Personal</span><span
			class="e914_260">Cultura</span><span class="e914_261">Otros</span>
		<div class=e914_262>
			<div class="e914_263"></div>
		</div>
		<div class="e914_287"></div>
		<div class="e914_288"></div>
		<div class="e914_289"></div>
		<div class="e914_290"></div>
		<div class="e914_291"></div>
		<div class="e914_292"></div>
		<div class="e914_293"></div>
		<div class="e914_294"></div>
		<div class="e914_226"></div>
		<div class=e914_372>
			<div class="ei914_372_62_178"></div>
		</div>
		<div class="e914_252"></div>
		<div class=e914_367>
			<div class="ei914_367_62_178"></div>
		</div>
		<div class=e914_317>
			<div class="ei914_317_62_178"></div>
		</div>
		<div class=e914_268>
			<div class="ei914_268_62_178"></div>
			<div class=ei914_268_134_485>
				<div class="ei914_268_134_483"></div>
				<div class="ei914_268_134_486"></div>
			</div>
		</div>
		<div class=e914_265>
			<div class="ei914_265_62_178"></div>
			<div class=ei914_265_134_485>
				<div class="ei914_265_134_483"></div>
				<div class="ei914_265_134_486"></div>
			</div>
		</div>
		<div class=e914_266>
			<div class="ei914_266_62_178"></div>
			<div class=ei914_266_134_485>
				<div class="ei914_266_134_483"></div>
				<div class="ei914_266_134_486"></div>
			</div>
		</div>
		<div class=e914_267>
			<div class="ei914_267_62_178"></div>
			<div class=ei914_267_134_485>
				<div class="ei914_267_134_483"></div>
				<div class="ei914_267_134_486"></div>
			</div>
		</div>
		<div class=e914_345>
			<div class=e914_346>
				<div class=e914_347>
					<div class="e914_348"></div>
					<div class="e914_349"></div><span class="e914_350">El futuro del diseño interactivo </span><span
						class="e914_351">Oscar Blemont</span><span class="e914_352">Nivel: Basico</span><span
						class="e914_353">Duración:180 min.</span>
				</div>
				<div class=e914_354>
					<div class="e914_355"></div><span class="e914_356">Autor: Oscar Belmont</span>
					<div class=e914_357>
						<div class="e914_358"></div>
						<div class="e914_359"></div>
						<div class="e914_360"></div><span class="e914_361">UI</span><span
							class="e914_362">UX</span><span class="e914_363">Diseño</span>
					</div><span class="e914_364">
						Estudiante de tecnologías computacionales, artista, aficionado a las finanzas, entusiasta de la
						tecnología.
						#MeLaVivoBailando.
					</span><span class="e914_365">ITC</span>
				</div>
				<div class="e914_366"></div>
			</div>
		</div>
	</div>


</body>

<!--Footer -->
<%- include('footer') %>


</html>