<!DOCTYPE html>

<html>

<head>
	<title>Inicio</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Abhaya+Libre&display=swap" rel="stylesheet">
	<link href="../estilos/vsubido.css" rel="stylesheet" type="text/css">
	<link href="../estilos/estilos.css" rel="stylesheet" type="text/css">
	<link href="../estilos/footer.css" rel="stylesheet" type="text/css">
	<link href="../estilos/ayudaUser.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>

<div class=e914_390>
	<div class=e914_391>
		<div class="e914_392"></div>
		<div class="e914_393"></div>
	</div>
	<div class=e914_394>
		<div class="e914_395"></div>
		<div class="e914_396"></div>
		<div class="e914_397"></div>
		<div class="e914_398"></div>
		<div class="e914_399"></div>
	</div><span class="e914_400">Cocina integral</span><span class="e914_401">Giselle Molina</span>
	<div class=e914_402>
		<div class="e914_403"></div>
		<div class="e914_404"></div>
		<div class="e914_405"></div>
	</div>
	<div class=e914_406>
		<div class="e914_407"></div>
		<div class="e914_408"></div>
		<div class="e914_409"></div>
		<div class="e914_410"></div>
	</div>
	<div class="e914_411"></div><span class="e914_412">Desarrollo Personal</span><span
		class="e914_413">Cultura</span><span class="e914_414">Otros</span>
	<div class=e914_415>
		<div class="e914_416"></div>
	</div>
	<div class="e914_418"></div>
	<div class="e914_419"></div>
	<div class="e914_420"></div>
	<div class="e914_421"></div>
	<div class="e914_422"></div>
	<div class="e914_423"></div>
	<div class="e914_424"></div>
	<div class="e914_425"></div>
	<div class="e914_426"></div>
	<div class=e914_427>
		<div class="ei914_427_62_178"></div>
	</div>
	<div class="e914_428"></div>
</div>
<div class=e914_431>
	<div class="ei914_431_62_178"></div>
	<div class=ei914_431_134_485>
		<div class="ei914_431_134_483"></div>
		<div class="ei914_431_134_486"></div>
	</div>
</div>
<div class=e914_433>
	<div class="ei914_433_62_178"></div>
	<div class=ei914_433_134_485>
		<div class="ei914_433_134_483"></div>
		<div class="ei914_433_134_486"></div>
	</div>
</div>
<div class=e914_434>
	<div class="ei914_434_62_178"></div>
	<div class=ei914_434_134_485>
		<div class="ei914_434_134_483"></div>
		<div class="ei914_434_134_486"></div>
	</div>
</div>
<div class=e914_435>
	<div class="ei914_435_62_178"></div>
	<div class=ei914_435_134_485>
		<div class="ei914_435_134_483"></div>
		<div class="ei914_435_134_486"></div>
	</div>
</div>
<div class=e914_436>
	<div class=e914_437>
		<div class=e914_438>
			<div class="e914_439"></div>
			<div class="e914_440"></div><span class="e914_441">El futuro del diseño interactivo </span><span
				class="e914_442">Oscar Blemont</span><span class="e914_443">Nivel: Basico</span><span
				class="e914_444">Duración:180 min.</span>
		</div>
		<div class=e914_445>
			<div class="e914_446"></div><span class="e914_447">Autor: Oscar Belmont</span>
			<div class=e914_448>
				<div class="e914_449"></div>
				<div class="e914_450"></div>
				<div class="e914_451"></div><span class="e914_452">UI</span><span class="e914_453">UX</span><span
					class="e914_454">Diseño</span>
			</div><span class="e914_455">
				Estudiante de tecnologías computacionales, artista, aficionado a las finanzas, entusiasta de la
				tecnología.
				#MeLaVivoBailando.
			</span><span class="e914_456">ITC</span>
		</div>
		<div class="e914_457"></div>
	</div>
</div>
</div>


</body>

<!--Footer -->
<%- include('footer') %>


</html>