<!DOCTYPE html>

<html>

<head>
    <title>Perfil</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../estilos/perfil.css" rel="stylesheet" type="text/css">
    <link href="../estilos/estilos.css" rel="stylesheet" type="text/css">
    <link href="../estilos/footer.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>

    <body>
        <div class=e924_645><span class="e924_637">Información del estudiante</span>
            <div class="e924_638"></div><span class="e924_639">Oscar Alfredo Belmont Rodríguez</span><span
                class="e924_640">A01654861</span><span class="e924_641">A01654861@tec.mx</span><span
                class="e924_642">Información Académica</span><span class="e924_643"> Estatus académico: Inscrito
                <br />
                <br />
                Semestre acreditado: 06
                <br />
                <br />
                Semestre actual: Semestral Ago - Dic 2021
                <br />
                <br />
                Campus: Campus CCM sede Cd de México
                <br />
                <br />
                Sede: Campus CCM sede Cd de México
                <br />
                <br />
                Nivel: Profesional
                <br />
                <br />
                Programa: Alumno en Programa Presencial
                <br />
                <br />
                Horas de Servicio Social: 0/480</span>
        </div>
    </body>
    
<!--Footer -->
<%- include('footer') %>

</html>