<!DOCTYPE html>

<html>

<head>
	<title>Inicio</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="../estilos/registro.css" rel="stylesheet" type="text/css">
	<link href="../estilos/footer.css" rel="stylesheet" type="text/css">
	<link href="../estilos/estilos.css" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
	<div class=e835_750 style="background-color:rgba(129.00000751018524, 106.00000128149986, 254.00000005960464, 1);">
		<!--Header -->
		<%- include('header') %>
			<form action="/usuarios" method="POST">
				<div class="e835_725">
					<div>
						<a>Nombre</a><input autoComplete="off" name="Nombre" placeholder="Nombre"
							required="True"></input>
					</div>
					<div>
					<a>Correo</a>
					<input autoComplete="off" name="Email" placeholder="Email" type="email" required="True"></input>
					</div>
					<div>
						<a>Contraseña</a>
					<input autoComplete="off" name="contrasenia" placeholder="Contraseña" type="password"
						required="True"></input>
						<a>Acepto terminos y condiciones</a>
					</div>
					<div >
						<input class="e841_869" type="submit" value="REGISTRATE" />
					</div>
						<a>¿Ya tienes una cuenta?</a> <a href="/">Inicia sesion</a>
				</div>
				
	</div>
	</form>
	</div>

</body>

<!--Footer -->
<%- include('footer') %>

</html>