<!DOCTYPE html>

<html>

<head>
	<title>Registro</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="../estilos/registro.css" rel="stylesheet" type="text/css">
	<link href="../estilos/footer.css" rel="stylesheet" type="text/css">
	<link href="../estilos/estilos.css" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>

<body>
	<div class=e835_750 style="background-color:rgba(129.00000751018524, 106.00000128149986, 254.00000005960464, 1);">
		<!--Header -->
		<%- include('header') %>
		<% if(alta == 'true'){%>
			<div class="modal fade" id="exampleModal" >
				<div class="modal-dialog" role="document">
				  <div class="modal-content">
					<div class="modal-header">
					  <h5 class="modal-title" id="exampleModalLabel">¡Tu cuenta ha sido dada de alta!</h5>
					  <form method="GET" action="/">
						<button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
					  </button>
					</form>
					</div>
					<div class="modal-body">
						<div class="alert alert-success"  role="alert">
						 	Usuario dado de alta<a href="/iniciarSesion" class="alert-link"> OK </a>
						  </div>
					</div>
				  </div>
				</div>
			  </div>
			  <script>
				$('#exampleModal').modal('show')
			</script>
			  <% }%>
		<div class="e835_762"></div>
			<form action="/usuarios" method="POST" id="form">
				<div class=e859_920>
					<div class="e859_921"></div>
						<input class="e859_927"  type="submit" value="Registrarme" />  
					<span  class="e859_930">¿Ya tienes una cuenta? Inicia Sesión</span><span  class="e859_931">Registrate</span>
					<div class=e859_932>
					  <div class=e859_933>
							<input autoComplete="off" class="e859_934" name="Nombre" placeholder="Nombre"  required="True"></input>
						<span  class="e859_937">Nombre</span>
					  </div>
					  <div class=e859_938>
						<span  class="e859_942">Correo institucional</span>
							<input autoComplete="off" class="e859_939" name="Email" placeholder="Email" type="email" required="True"></input>
						</div>
					  <div class=e859_946>
						<span  class="e859_950">Contraseña</span>
							<input autoComplete="off" class="e859_947" name="contrasenia" placeholder="Contraseña" type="password" required="True"></input>
					  </div>
					</div>
					<div class=e859_943>
					  <div class="e859_944"></div>
					  <div class="e859_945"></div>
					</div>
				  </div>

	</div>
	</form>
	</div>

</body>

<!--Footer -->
<%- include('footer') %>

</html>