<!DOCTYPE html>

<html lang="en">

<head>
	<title>Inicio</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet">
	<link href="../estilos/usuario.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&family=Poppins:wght@300&display=swap" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</head>

<body style="background-color: white;">
	

<div class=e883_1008>
	<div class=e883_952>
	  <div class=e883_953>
		<div class="e883_954"></div>
	  </div>
	  <div class=e883_955>
		<div class="e883_956"></div>
		
	  </div>
	  <div class="e883_960"></div>
		<input type="text" class="ei883_961_22_226" autoComplete="off"  placeholder="Busca por arte, música, cultura..." required="True"></input>
	  <div class=e883_962>
		<div class="e883_963"></div><span  class="e883_964">Busca el contenido que más te guste </span>
	  </div>
	  <div class=e883_965><span  class="e883_966">#arquitectura</span><span  class="e883_967">#periodismo</span><span  class="e883_968">#arte</span><span  class="e883_969">#fotografía</span><span  class="e883_970">#programación</span></div>
	  <!--Header -->
	<%- include('headerUser') %>
	</div>
  </div>
  <div class=e886_1055>
	<div class=e68_1><span  class="e72_136">©2021 Todos los derechos reservados</span>
	  <div class="e7_38"></div>
	</div>
	<div class=e100_60>
	  <div class=e100_2>
		<div class=e100_1><span  class="e82_6">Fotografía II</span><span  class="e100_38">★★★★</span>
		  <div class="e98_1"></div><span  class="e82_4">15 min</span>
		</div>
	  </div>
	  <div class=e100_3>
		<div class=e100_4><span  class="ei100_4_82_6">Arquitectura</span><span  class="ei100_4_100_38">★★★</span>
		  <div class="ei100_4_98_1"></div><span  class="ei100_4_82_4">42 min</span>
		</div>
	  </div>
	  <div class=e100_8>
		<div class=e100_9><span  class="ei100_9_82_6">Dibujo en sombras</span><span  class="ei100_9_100_38">★★★★★</span>
		  <div class="ei100_9_98_1"></div><span  class="ei100_9_82_4">65min</span>
		</div>
	  </div>
	  <div class=e100_13>
		<div class=e100_14><span  class="ei100_14_82_6">Fotografía</span><span  class="ei100_14_100_38">★★★</span>
		  <div class="ei100_14_98_1"></div><span  class="ei100_14_82_4">27 min</span>
		</div>
	  </div>
	  <div class=e100_18>
		<div class=e100_19><span  class="ei100_19_82_6">Pintura</span><span  class="ei100_19_100_38">★★★★★</span>
		  <div class="ei100_19_98_1"></div><span  class="ei100_19_82_4">12 min</span>
		</div>
	  </div>
	  <div class=e100_23>
		<div class=e100_24><span  class="ei100_24_82_6">Photoshop</span><span  class="ei100_24_100_38">★★</span>
		  <div class="ei100_24_98_1"></div><span  class="ei100_24_82_4">15 min</span>
		</div>
	  </div>
	</div>
	<div class=e79_254>
	  <div class="e79_253"></div>
	  <div class="e79_252"></div>
	</div>
	
		<button type="button" class="e79_164" style="width: 421px; height: 70px; position: absolute; left: 545px; top: 1712px;"
	 data-bs-toggle="modal" data-bs-target="#exampleModal">Descubre</button>
	<!--Modal curso-->
	<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="false">
		<div class="modal-dialog">
			<div class="modal-body">
				<div class=e893_1056>
					<div class=e703_664>
					  <div class="e703_665"></div>
					  <a type="button" href="#header" class="e893_1104"></a><span  class="e703_669">El futuro del diseño interactivo </span><span  class="e703_670">Oscar Blemont</span><span  class="e703_671">Nivel: Basico</span><span  class="e703_672">Duración:180 min.</span>
					</div>
					<div class=e703_689>
					  <div class="e703_690"></div><span  class="e703_692">Autor: Oscar Belmont</span>
					  <div class=e703_693>
						<div class="e703_694"></div>
						<div class="e703_695"></div>
						<div class="e703_696"></div><span  class="e703_697">UI</span><span  class="e703_698">UX</span><span  class="e703_699">Diseño</span>
					  </div><span  class="e703_700">
				  Estudiante de tecnologías computacionales, artista, aficionado a las finanzas, entusiasta de la tecnología.
				  #MeLaVivoBailando.
				  </span><span  class="e703_704">ITC</span>
					</div>
					<div class="e703_706"></div>
				  </div>
			</div>
			
		 
		</div>
	  </div>
	
	<div class=e72_43><span  class="e68_34">see all</span>
	  <div class="e72_42"></div>
	</div>
	<div class=e79_167><span  class="e62_158">Recomendados</span></div>
	<div class=e79_168><span  class="e79_169" id="fav">Favoritos de <%= usuarios.nombre %> </span></div>
	 

	<div class=e134_508>
	  <div class="ei134_508_62_178"></div>
	</div>
	<div class=e703_943>
	  <div class="e703_944"></div><span  class="e703_945">Comunidad</span>
	</div>
	<iframe width="560" height="315" class="curso" id="curso" src="https://www.youtube.com/embed/diaZdX1s5L4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	  <div class="ei703_828_62_178"></div>
	<div class=e703_888>
	  <div class="e703_905"></div>
	  <div class="e703_890"></div><span  class="e703_891">David Villanueva</span>
	  <div class=e703_892>
		<div class="e703_893"></div>
		<div class="e703_894"></div>
		<div class="e703_895"></div><span  class="e703_896">LAF</span><span  class="e703_897">Carpe Diem</span><span  class="e703_898">YOLO</span>
	  </div><span  class="e703_899">¡Excelente video para una comprensión de alto nivel de Business Analytics! ¡Claro, conciso y preciso!</span>
	  <div class=e703_900>
		<div class="e703_901"></div><a type="button" class="e703_918" style="text-decoration-line: none;" data-bs-toggle="modal" data-bs-target="#perfilModal2">Ver perfil</a>
		<!--Modal de los perfiles-->
		<div class="modal fade" id="perfilModal" tabindex="-1" aria-labelledby="perfilModal" aria-hidden="false">
			<div class="modal-dialog">
				<div class="modal-body">
		<div class=e958_322><span  class="e958_313">Tech</span>
			<div class=e958_320>
			  <div class="e958_292"></div><span  class="e958_293">Usuario: Demian Cruz</span>
			  <div class=e958_294>
				<div class="e958_295"></div>
				<div class="e958_296"></div>
				<div class="e958_297"></div><span  class="e958_298">Tech</span><span  class="e958_299">Pizza</span><span  class="e958_300">Run</span>
			  </div><span  class="e958_303">ITC</span><span  class="e958_316">
		  Estudiante de tecnologías computacionales, atleta, amigo de @unaperrahambre.
		  #MeLaVivoSonriendo.
		  </span>
			  <div class="e958_318"></div>
			</div>
			</div>
			</div>
			</div>
		  </div>
		  
		  <div class="modal fade" id="perfilModal2" tabindex="-1" aria-labelledby="perfilModal2" aria-hidden="false">
			<div class="modal-dialog">
				<div class="modal-body">
					<div class=e958_322><span  class="e958_313">Tech</span>
						<div class=e958_320>
						  <div class="e958_292"></div><span  class="e958_293">Autor: David Villanueva</span>
						  <div class=e958_294>
							<div class="e958_295"></div>
							<div class="e958_296"></div>
							<div class="e958_297"></div><span  class="e958_298">Fut</span><span  class="e958_299">Tech</span><span  class="e958_300">Spiderman</span>
						  </div><span  class="e958_303">ITC</span><span  class="e958_316">
					  Estudiante de tecnologías computacionales, apasionado del soccer.
					  #MeLaVivoCodificando.
					  </span>
						  <div class="e958_3188"></div>
						</div>
					  </div>
			</div>
			</div>
		  </div>


	  </div><span  class="e703_903">★★★★★</span>
	</div>
	<div class=e703_904>
	  <div class="e703_905"></div>
	  <div class="e703_906"></div><span  class="e703_907">Demian Cruz</span>
	  <div class=e703_908>
		<div class="e703_909"></div>
		<div class="e703_910"></div>
		<div class="e703_911"></div><span  class="e703_912">Finanzas</span><span  class="e703_913">LAF</span><span  class="e703_914">BitCoin</span>
	  </div><span  class="e703_915">Vi tanto esta versión como la anterior hoy,
   aunque la versión anterior sigue siendo muy buena,
   este es aún mejor visualmente, con ejemplos y tono.
  ¡Gran trabajo!</span>
	  <div class=e703_900>
		<div class="e703_917"></div><a type="button" class="e703_918" style="text-decoration-line: none;" data-bs-toggle="modal" data-bs-target="#perfilModal">Ver perfil</a>
	  </div><span  class="e703_919">★★★★</span>
	</div>
	<div class=e703_920>
	  <div class="e703_905"></div>
	  <div class="e703_922"></div><span  class="e703_923">Carlos Gutierrez</span>
	  <div class=e703_924>
		<div class="e703_925"></div>
		<div class="e703_926"></div>
		<div class="e703_927"></div><span  class="e703_928">Música</span><span  class="e703_929">Finanzas</span><span  class="e703_930">Inversión</span>
	  </div><span  class="e703_931">Video entretenido, pero simple, funcional para la mayor parte del público.</span>
	  <div class=e703_900>
		<div class="e703_933"></div><a type="button" class="e703_918" style="text-decoration-line: none;" data-bs-toggle="modal" data-bs-target="#perfilModal">Ver perfil</a>
	  </div><span  class="e703_935">★★★</span>
	</div>
	<div class=e100_61>
	  <div class=e100_62>
		<div class=e100_63><span  class="ei100_63_82_6">Cine (Avanzado)</span><span  class="ei100_63_100_38">★★★★★</span>
		  <div class="ei100_63_98_1"></div><span  class="ei100_63_82_4">15 min</span>
		</div>
	  </div>
	  <div class=e100_64>
		<div class=e100_65><span  class="ei100_65_82_6">Diseño de interiores</span><span  class="ei100_65_100_38">★★</span>
		  <div class="ei100_65_98_1"></div><span  class="ei100_65_82_4">42 min</span>
		</div>
	  </div>
	  <div class=e100_66>
		<div class=e100_67><span  class="ei100_67_82_6">Creatividad</span><span  class="ei100_67_100_38">★★★★★</span>
		  <div class="ei100_67_98_1"></div><span  class="ei100_67_82_4">65min</span>
		</div>
	  </div>
	  <div class=e108_14>
		<div class=e108_15><span  class="ei108_15_82_6">Mindfulness</span><span  class="ei108_15_100_38">★★★★</span>
		  <div class="ei108_15_98_1"></div><span  class="ei108_15_82_4">54min</span>
		</div>
	  </div>
	  <div class=e108_2>
		<div class=e108_3><span  class="ei108_3_82_6">Hacking Ético</span><span  class="ei108_3_100_38">★★★</span>
		  <div class="ei108_3_98_1"></div><span  class="ei108_3_82_4">13 min</span>
		</div>
	  </div>
	</div>
  </div>
</body>
</html>